@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SaleVehicle</h2>
<style>
    .options {
        display: inline-block;
        margin-left: 16px;
        background-color: #3c8dbc;
        padding: 5px 15px;
        color: #FFF;
    }
</style>



<div class="row">
    <input type="hidden" id="hfCustomer" />
    <label style="display:none" id="hfSaleFrontEndID"></label>

    <div class="form-group col-xs-4">
        <h3><label id="invoiceLbl" class="label label-warning form-control input-group-lg">Sales Inv No: SI-@(@DateTime.Now.Year % 100)-<span id="txtInvoiceNum"></span></label></h3>
    </div>

    <div class="form-group col-xs-4">
        <label>Sales Date</label>
        <input id="salesDate" class="form-control datepicker input-group-lg" type="text" name="Date"
               placeholder="Enter Drop-off date here..." />
    </div>
   
</div>

<div class="box-body" id="divFillByVehicle">
    <br />
    <table id="dataGrid" class="table table-bordered table-striped"></table>
    <div id="pagingGrid"></div>

</div>


<div class="box-body" id="divAddVehicle" style="display:none">
    <table id="GridAddVehicle" class="table table-bordered table-striped"></table>
    <div id="pagingGridAddVehicle"></div>
    <br>
    <div class="row">
        <div class="form-group col-xs-4">
            <label>Search By Customer Name</label>
            <input id="txtBuyerName" class="form-control input-group-lg" type="text" name="BuyerName"
                   placeholder="Search By Customer Name" />
        </div>
    </div>
        <br>
        <div id="divCustomerInfo" style="display:none">
            <div class="row">
                <div class="form-group col-xs-3">
                    <label>Customer Name</label>
                    <input id="txtCustomerName" class="form-control input-group-lg" type="text" name="CustomerName"
                           placeholder="Customer Name" readonly />
                </div>

                <div class="form-group col-xs-3">
                    <label>Customer Contact</label>
                    <input id="txtCustomerContact" class="form-control input-group-lg" type="text" name="CustomerContact"
                           placeholder="Customer Contact" readonly />
                </div>

                <div class="form-group col-xs-3">
                    <label>Balance</label>
                    <input id="txtBalance" class="form-control input-group-lg" type="text" readonly
                           placeholder="Balance" />
                </div>

                <div class="form-group col-xs-3">
                    <label>Credit Limit</label>
                    <input id="txtCreditLimit" class="form-control input-group-lg" type="text" readonly
                           placeholder="Credit Limit" />
                </div>
            </div>


            <div class="row">
                <br />
                <div class="form-group col-xs-4">
                    <label>Selling Price</label>
                    <input id="txtSellingPrice" class="form-control input-group-lg" type="text"
                           placeholder="Selling Price" />
                </div>

                <div class="form-group col-xs-4">
                    <label>Deposit</label>
                    <input id="txtDeposit" class="form-control input-group-lg" type="text"
                           placeholder="Deposit" />
                </div>
                <div class="form-group col-xs-4">
                    <label>Advance</label>
                    <input id="txtAdvance" class="form-control input-group-lg" type="text"
                           placeholder="Advance" />
                </div>
            </div>





            <div class="row">

                @*<div class="form-group col-xs-4">
                <label for="Select payment Option" class="sr-only"></label>
                <div class="options">
                    <label for="Cash" class="sr-only"></label>

                    <input type="radio" class="form-control input-group-lg" name="PaymentOption" id="rdbCashOption" checked="checked" />
                    &nbsp;
                    <label for="Credit" class="sr-only"></label>

                    <input type="radio" class="form-control input-group-lg" name="PaymentOption" id="rdbCreditOption" />
                </div>

            </div>*@

                @*<label>Select payment Option</label>
            <div class="options">
                <label>Cash</label>
                <input type="radio" name="PaymentOption" id="rdbCashOption" onclick="CashPaymentOption()" checked="checked" />
                &nbsp;
                <label>Credit</label>
                <input type="radio" name="PaymentOption" id="rdbCreditOption" onclick="CreditPaymentOption()" />
            </div>*@

                @*<div class="form-group col-xs-4">
                <label for="Payment" class="sr-only"></label>
                <input id="txtPayment" class="form-control input-group-lg" type="text"
                       placeholder="Payment" />
            </div>*@
                <div class="form-group col-xs-4">
                    <label>Installment</label>
                    <input id="txtInstallment" class="form-control input-group-lg" type="text"
                           placeholder="Installment" />
                </div>

                <div class="form-group col-xs-4">
                    <label>Balance</label>
                    <input id="txtSaleBalance" class="form-control input-group-lg" type="text"
                           placeholder="Balance" />
                </div>
            </div>


            <label style="margin-left: 63px;">Select payment Option:</label>
            <div class="options">

                <label>Cash</label>
                <input type="radio" name="PaymentOption" id="rdbCashOption" checked="checked" />
                &nbsp;
                <label>Credit</label>
                <input type="radio" name="PaymentOption" id="rdbCreditOption" />
            </div>

            <label style="margin-left: 130px;">Paper Type:</label>
            <div class="options" id="divBoxGroup">
                <label>
                    <input type="radio" id="ckbImportOption" name="nam_GroupMode" value="1" checked="checked" />Import
                </label>
                <label>
                    <input type="radio" id="ckbExportOption" name="nam_GroupMode" value="2" />Export
                </label>
                <label>
                    <input type="radio" id="ckbTransferOption" name="nam_GroupMode" value="3" />Transfer
                </label>
            </div>
            @*<div class="row" id="divBoxGroup">

            <label>
                <input type="checkbox" class="radio" id="ckbImportOption" name="nam_GroupMode" value="1" />Import
            </label>
            <label>
                <input type="checkbox" class="radio" id="ckbExportOption" name="nam_GroupMode" value="2" />Export
            </label>
            <label>
                <input type="checkbox" class="radio" id="ckbTransferOption" name="nam_GroupMode" value="3" />Transfer
            </label>
        </div>*@


        </div>
      

    </div>
<div>
    <br />

    <div id="dialog" style="display: none" align="center">
        Do you want to Save this Sales?
    </div>
    @*<input type="button" style="margin-left: 400px" class="btn btn-success" id="saveSaleInfo" value="Save"/>*@
    <input type="button" style="margin-left: 330px;" class="btn btn-success col-md-2" id="saveSaleInfo" value="Save">
    
    <input type="button" style="margin-left: 40px" class="btn btn-warning col-md-2" value="Cancel" onclick="CancelSalesInfo();" id="cancelSaleInfo">
</div>


    



<script type="text/javascript">


    function CancelSalesInfo() {
        window.location.href = "/Sales/Index";
    }


   
        $.ajax({
            url: '/Sales/GetInvoice/',
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                $("#txtInvoiceNum").html(data);

            }
        });

    $.ajax({
        url: '/Sales/GetSalesFrontEndID/',
        dataType: "json",
        type: "POST",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            $("#hfSaleFrontEndID").html(data);

        }
    });

</script>

<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker({ dateFormat: 'dd/mm/yy' }); //Initialise any date pickers
    });
</script>

<script>

    var arr = new Array();
    $(function () {

        $('#dataGrid').jqGrid({
            caption: "Vehicle List",
            url: '/Sales/GetData/',
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            mtype: 'GET',
            colNames: ['ID', 'Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY'],
            colModel: [
                { name: 'iVehicleID', index: 'iVehicleID', hidden: true, hidedlg: true },
                { name: 'iLotNum', index: 'iLotNum', align: 'center' },
                { name: 'strChassisNum', index: 'strChassisNum', align: 'center' },
                { name: 'iModel', index: 'iModel', align: 'center' },
                { name: 'iYear', index: 'iYear', align: 'center' },
                { name: 'strColor', index: 'strColor', align: 'center' },
                { name: 'iCustomValInJPY', index: 'iCustomValInJPY', align: 'center' },

            ],
            width: 1150,
            height: 150,
            rowNum: 10,
            loadonce: true,
            rowList: [10, 20, 30],
            pager: 'pagingGrid',
            caption: 'Select Vehicle to Add',

            beforeSelectRow: function (rowid, celname, value, iRow, iCol) {

                var rowData = jQuery("#dataGrid").getRowData(rowid);
                var rowDataVehicleID = rowData['iVehicleID'];


                var addVehicleID = false;
                $.map(arr, function (elementOfArray, indexInArray) {
                    if (elementOfArray.VehicleID == rowDataVehicleID) {

                        addVehicleID = true;
                    }
                })
                if (!addVehicleID) {
                    arr.push({ VehicleID: rowDataVehicleID })
                    $('#GridAddVehicle').jqGrid('addRowData', rowDataVehicleID, rowData);
                    $('#divAddVehicle').show();
                }


                //// arr.push(rowDataVehicleID);
                //$('#GridAddVehicle').jqGrid('addRowData', rowDataVehicleID, rowData);

                //$('#divAddVehicle').show();
            }

        });
        jQuery("#dataGrid").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
        jQuery("#dataGrid").jqGrid('navGrid', '#pagingGrid', { edit: false, add: false, del: false, search: false });


        $('#GridAddVehicle').jqGrid({
            caption: "ADD Single Vehicle",
            //data: SingleVehicle,
            //datatype: "local",
            colNames: ['ID', 'Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY', 'Action'],
            colModel: [
                { name: 'iVehicleID', index: 'iVehicleID', hidden: true, hidedlg: true },
                { name: 'iLotNum', index: 'iLotNum' },
                { name: 'strChassisNum', index: 'strChassisNum' },
                { name: 'iModel', index: 'iModel' },
                { name: 'iYear', index: 'iYear' },
                { name: 'strColor', index: 'strColor' },
                { name: 'iCustomValInJPY', index: 'iCustomValInJPY' },

                {
                    name: 'Action', index: 'Action', align: 'center', width: 100, search: false, title: false,
                    formatter: function (cellvalue, options, rowObject) {
                        // return '<a href="/MAreas/Edit/' + options.rowId + '">' + "<img src='../Images/edit%20(2).png' '/>" + '</a>' + "     " + '<a href="/MAreas/Delete/' + options.rowId + '">' + "<img src='../Images/delete%20(2).png' />" + '</a>';
                        //return $('#GridAddVehicle').jqGrid('delRowData', options.rowId);
                        return "<input class='popup btn btn-info' style='margin-right: 5%; ' type='button' value='Delete' onclick=\"jQuery('#GridAddVehicle').delRowData('" + options.rowId + "');\"  />";
                    }

                },

            ],
            width: 1150,
           // width: 900,
           
            rowNum: 10,
            loadonce: false,
            rowList: [10, 20, 30],
            pager: 'pagingGridAddVehicle',
        });
        jQuery("#GridAddVehicle").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
        jQuery("#GridAddVehicle").jqGrid('navGrid', '#pagingGridAddVehicle', { edit: false, add: false, del: false, search: false, rel: false });

    });

    


</script>

<script type="text/javascript">
    $(function () {
        $("#txtBuyerName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Sales/GetCustomerDetails/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (!data.length) {
                            var result = [
                             {
                                 label: 'No matches found',
                                 value: response.term
                             }
                            ];
                            response(result);
                        }
                        else {
                            // normal response
                            response($.map(data, function (item) {
                                return {

                                    iCustomerID: item.iCustomerID,
                                    strFirstName: item.strFirstName,
                                    strMiddleName: item.strMiddleName,
                                    strLastName: item.strLastName,
                                    iPhoneNumber: item.iPhoneNumber,
                                    strCreditLimit: item.strCreditLimit,
                                    value: item.strFirstName

                                }
                            }));
                        }
                    }


                });
            },
            select: function (event, i) {

                event.preventDefault();

                $("#txtBuyerName").val(i.item.value);
                $("#hfCustomer").val(i.item.iCustomerID);
               
                $("#txtCustomerName").val(i.item.strFirstName + " " + i.item.strLastName);
                $("#txtCustomerContact").val(i.item.iPhoneNumber);
                $("#txtCreditLimit").val(i.item.strCreditLimit);

                $("#divCustomerInfo").show();
                return false;
            },
            minLength: 1
        });
    });
</script>

<script>
    
    var parameters = [];
    var chkBoxvalue;
    $("#saveSaleInfo").click(function () {
            
        debugger;

        var data = $('#invoiceLbl').text().split(':');

        $("#invoiceLbl").html(data[1]);

      
        $(function () {
            if ($(this).attr("rel") != "update") {
                $('#dialog').dialog('open');
                return false;
            }
        });

        $("#dialog").dialog({
            modal: true,
            autoOpen: false,
            title: "Confirmation",
            width: 350,
            height: 160,
            buttons: [
        {
            id: "Yes",
            text: "Yes",
            click: function () {

                //calling function here for update
                if ($("#rdbCashOption").is(":checked")) {
                    var paymentStatus = 1;    //1 for Paid
                    //var paymentChoice = "Cash";
                    //alert("you have selected" + paymentChoice + "payment method");
                }
                else {
                    var paymentStatus = 2;  //2 for Credit
                    //var paymentChoice = "Credit";
                    //alert("you have selected" + paymentChoice + "payment method");
                }

                $.each($("input[name='nam_GroupMode']:checked"), function () {
                    //var chkBoxvalue = $(this).val();
                    chkBoxvalue = $(this).val();
                    //alert(chkBoxvalue);
                    //ModeValues.push($(this).val());

                })
                var ids = jQuery("#GridAddVehicle").jqGrid('getDataIDs');

                var hfSaleFrontEndID = $('#hfSaleFrontEndID').html();
                //var gridDataVehicleID = JSON.stringify(arr);

                for (var i = 0; i < ids.length; i++) {
                    //alert(arr[i]);

                    parameters.push({
                        iVehicleID: ids[i],
                        iSaleFrontEndID: hfSaleFrontEndID
                    });
                }

                //    alert(("#hfCustomer").text());
                //alert(("#hfSaleFrontEndID").text());
                //alert(("#txtCustomerName").html());


                var SaleData = {
                    iBuyerID: $("#hfCustomer").val(),
                    iSaleFrontEndID: $("#hfSaleFrontEndID").html(),
                    strBuyerName: $("#txtCustomerName").val(),
                    strSalesDate: $("#salesDate").val(),
                    iSalesInvoiceID: $("#txtInvoiceNum").html(),
                    dmlSellingPrice: $("#txtSellingPrice").val(),
                    dmlDeposit: $("#txtDeposit").val(),
                    dmlAdvance: $("#txtAdvance").val(),
                    dmlBalance: $("#txtSaleBalance").val(),
                    iInstallment: $("#txtInstallment").val(),
                    iPaymentType: paymentStatus,
                    iImpExpTransfer: chkBoxvalue,
                    dtSalesDate: $("#salesDate").val(),
                    strSalesInvoiceNo: $("#invoiceLbl").text()

                }


                $.ajax({
                    type: "POST",
                    url: "/Sales/Save",
                    cache: false,
                    data: JSON.stringify({ sale: SaleData, saleVehicles: parameters }),
                    // data: JSON.stringify(purchase),
                    dataType: this.dataType,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {

                        window.location.href = "/Sales/Index";

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to Save data.');
                    }
                });
                $(this).dialog('close');
            }

        },
        {
            id: "No",
            text: "No",
            click: function () {
                $(this).dialog('close');
            }
        }
            ]
        });



       
    });
    



    //function PaymentType() {
    //    if ($("#rdbCashOption").is(":checked")) {
    //        var paymentStatus = 1;    //1 for Paid
    //        //var paymentChoice = "Cash";
    //        //alert("you have selected" + paymentChoice + "payment method");
    //    }
    //    else {
    //        var paymentStatus = 2;  //2 for Credit
    //        //var paymentChoice = "Credit";
    //        //alert("you have selected" + paymentChoice + "payment method");
    //    }
    //}

   


    function Mode() {
        // var values = new Array();
        $.each($("input[name='nam_GroupMode']:checked"), function () {
            var chkBoxvalue = $(this).val();
            alert(chkBoxvalue);
            //values.push($(this).val());

        });
    }

</script>

<!-- JqGrid Scripts -->
<link href="~/scripts/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<link href="~/scripts/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-migrate-1.2.1-min.js"></script>
<script src="~/scripts/jQuery-migrate-1.2.1.js"></script>
<script src="~/scripts/grid.locale-en.js"></script>
<script src="~/scripts/jquery.jqgrid.min.js"></script>


<script src="~/Content/plugins/jsPDF/jspdf.debug.js"></script>
<script src="~/Content/plugins/jsPDF/jspdf.plugin.autotable.js"></script>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
@*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@