<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880 Martin Smith
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--<connectionStrings>
    <add name="AuctionInventoryEntities" connectionString="metadata=res://*/Entity.AuctionInventoryEntities.csdl|res://*/Entity.AuctionInventoryEntities.ssdl|res://*/Entity.AuctionInventoryEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHAHZAD/MSSQLSERVER2012;initial catalog=AuctionInventory;user id=sa;password=sql@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-AuctionInventory-20170203105605.mdf;Initial Catalog=aspnet-AuctionInventory-20170203105605;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <!--Local Connection String-->
    <!--<add name="AuctionInventoryEntities" connectionString="metadata=res://*/Entity.AuctionInventoryEntities.csdl|res://*/Entity.AuctionInventoryEntities.ssdl|res://*/Entity.AuctionInventoryEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHAHZAD;initial catalog=DB_A184E6_Testingdb;user id=sa;password=sql@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Remote Connection String-->
    <!--<add name="AuctionInventoryEntities" connectionString="metadata=res://*/Entity.AuctionInventoryEntities.csdl|res://*/Entity.AuctionInventoryEntities.ssdl|res://*/Entity.AuctionInventoryEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5018.myWindowsHosting.com;initial catalog=DB_A1EE51_AuctionDB;user id=DB_A1EE51_AuctionDB_admin;password=sql@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AuctionInventoryEntities" connectionString="metadata=res://*/Entity.AuctionInventoryEntities.csdl|res://*/Entity.AuctionInventoryEntities.ssdl|res://*/Entity.AuctionInventoryEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5013.myWindowsHosting.com;Initial Catalog=DB_A184E6_Testingdb;User ID=DB_A184E6_Testingdb_admin;Password=tausif7043;Connect Timeout=300&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="AuctionInventoryEntities" connectionString="metadata=res://*/Entity.AuctionInventoryEntities.csdl|res://*/Entity.AuctionInventoryEntities.ssdl|res://*/Entity.AuctionInventoryEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5031.myWindowsHosting.com;Initial Catalog=DB_A256F5_daauctiondb;User Id=DB_A256F5_daauctiondb_admin;Password=auction_sql123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="2880"/>
    </authentication>
    <roleManager enabled="true" defaultProvider="MyProvider">
      <providers>
        <clear/>
        <add name="MyProvider" type="AuctionInventory.MyRoleProvider.SiteRole"/>
      </providers>
    </roleManager>
    <!--<authentication mode="None" />-->
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>