
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="viewport" content="width=device-width" />
<title>Index</title>
<style>
    span.field-validation-error {
        color: red;
    }
    /*we have overrides the css to change border color of menus*/
    .navbar-inverse {
        background-color: #337ab7;
        border-color: #333;
    }
</style>
@*<div style="width:90%; margin:70px auto" class="tablecontainer">
    <a class="popup btn btn-primary" href="/MCurrency/save/0" style="margin-bottom:20px; margin-top:20px;">Add New Currency</a>
    <table id="myDatatable">
        <thead>
            <tr>
                <th>Currency Name</th>
                <th>Currency ShortName</th>                
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    $(document).ready(function () {
        var oTable = $('#myDatatable').DataTable({
            //"scrollY": 200,
            //"scrollX": true,
            "ajax": {
                "url": '/MCurrency/GetAllCurrency',
                "type": "get",
                "datatype": "json"
            },
            "columns": [
                { "data": "strCurrencyName", "autoWidth": true },
                { "data": "strCurrencyShortName", "autoWidth": true },
               
                {
                    "data": "CurrencyID", "width": "50px", "render": function (data) {
                        return '<a class="popup" href="/MCurrency/save/' + data + '">Edit</a>';
                    }
                },
                {
                    "data": "CurrencyID", "width": "50px", "render": function (data) {
                        return '<a class="popup" href="/MCurrency/delete/' + data + '">Delete</a>';
                    }
                }
            ]
        })
        //$('.tablecontainer').on('click', 'a.popup', function (e) {
        //    e.preventDefault();
        //    OpenPopup($(this).attr('href'));
        //})
        function OpenPopup(pageUrl) {
            var $pageContent = $('<div/>');
            $pageContent.load(pageUrl, function () {
                $('#popupForm', $pageContent).removeData('validator');
                $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('form');

            });

            $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                      .html($pageContent)
                      .dialog({
                          draggable: false,
                          autoOpen: false,
                          resizable: false,
                          model: true,
                          title: 'Popup Dialog',
                          height: 550,
                          width: 600,
                          close: function () {
                              $dialog.dialog('destroy').remove();
                          }
                      })

            $('.popupWindow').on('submit', '#popupForm', function (e) {
                var url = $('#popupForm')[0].action;
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $('#popupForm').serialize(),
                    success: function (data) {
                        if (data.status) {
                            $dialog.dialog('close');
                            oTable.ajax.reload();
                        }
                    }
                })

                e.preventDefault();
            })

            $dialog.dialog('open');
        }
    })
</script>*@


<div class="box-body">
    <div>
        <a class="popup btn btn-primary" href="/MCurrency/save/0" style="margin-bottom:20px; margin-top:20px;">Add New Currency</a>

    </div>
    <br />
    <div>
        <table id="dataGrid" class="table table-bordered table-striped"></table>
        <div id="pagingGrid"></div>
        <br><br>
    </div>
</div>



<script>
    $(function () {

        //this grid is used to fill the Category list

        $('#dataGrid').jqGrid({
            caption: "Currency List",
            url: '/MCurrency/GetAllCurrency/',
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            mtype: 'GET',

            colNames: ['CurrencyID', 'Currency Name', 'Currency Short Name', 'Action'],
            colModel: [
                { name: 'CurrencyID', index: 'CurrencyID', hidden: true, hidedlg: true },
                { name: 'strCurrencyName', index: 'strCurrencyName', align: 'center' },
                 { name: 'strCurrencyShortName', index: 'strCurrencyShortName', align: 'center' },

                   {
                       name: 'Action', index: 'Action', align: 'center', width: 100, search: false, title: false,
                       formatter: function (cellvalue, options, rowObject) {

                           return '<a class="popup btn btn-warning" href="/MCurrency/save/' + options.rowId + '">Edit</a>' + "   " + '<a class="popup btn btn-danger"  href="/MCurrency/delete/' + options.rowId + '">Delete</a>';

                           //return  "<input class='popup btn btn-info' style='margin-right: 5%; ' type='button' value='Edit'  onclick=\"editRowData('" + options.rowId + "');\"  />";
                       }

                   },



            ],
            width: 800,
            height: 250,
            rowNum: 10,
            loadonce: true,
            ignoreCase: true,
            rowList: [10, 20, 30],
            pager: 'pagingGrid',
        });
        jQuery("#dataGrid").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
        jQuery("#dataGrid").jqGrid('navGrid', '#pagingGrid', { edit: false, add: false, del: false, search: false });

    });
</script>


<!-- JqGrid Scripts -->
<link href="~/scripts/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<link href="~/scripts/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-migrate-1.2.1-min.js"></script>
<script src="~/scripts/jQuery-migrate-1.2.1.js"></script>
<script src="~/scripts/grid.locale-en.js"></script>
<script src="~/scripts/jquery.jqgrid.min.js"></script>
