
@{
    ViewBag.Title = "TestJS";
}

<h2>TestJS</h2>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple example</title>
</head>
<style>
    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }
</style>
<body>
    
    <script src="~/Content/plugins/jsPDF/jspdf.debug.js"></script>
    <script src="~/Content/plugins/jsPDF/jspdf.plugin.autotable.js"></script>
    @*<table id="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Country</th>
                <th>IP-address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Donna</td>
                <td>Moore</td>
                <td>dmoore0@furl.net</td>
                <td>China</td>
                <td>211.56.242.221</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Janice</td>
                <td>Henry</td>
                <td>jhenry1@theatlantic.com</td>
                <td>Ukraine</td>
                <td>38.36.7.199</td>
            </tr>
        </tbody>
    </table>*@


    <div>
        <button id="generatePDF">Generate pdf</button>
    </div>

    <script>
        $("#generatePDF").click(function () {
            debugger;


            $.ajax({
                cache: false,
                type: "POST",
                url: "/TPurchase/TestJS",
                dataType: 'json',
                success: function (result) {

                    var columns = [result.LotNum, result.ChassisNum];
                    var data = [result.LotNum, result.ChassisNum];
                    var doc = new jsPDF();
                    doc.autoTable(columns, data);
                    doc.output("dataurlnewwindow");

                    //console.log(result);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve data.');
                }
            });
        });

        //function generate() {
        //    var columns = ["ID", "Country", "Rank", "Capital"];
        //    var data = [
        //        [1, "Denmark", 7.526, "Copenhagen"],
        //        [2, "Switzerland", 7.509, "Bern"],
        //        [3, "Iceland", 7.501, "Reykjavík"],
        //        [4, "Norway", 7.498, "Oslo"],
        //        [5, "Finland", 7.413, "Helsinki"]
        //    ];

        //    var doc = new jsPDF();
        //    doc.autoTable(columns, data);
        //    doc.output("dataurlnewwindow");
        //}
    </script>


   
</body>
</html>