<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <!--Local Connection String-->
    <add name="AuctionInventoryEntities" connectionString="metadata=res://*/Entity.AuctionInventoryEntities.csdl|res://*/Entity.AuctionInventoryEntities.ssdl|res://*/Entity.AuctionInventoryEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHAHZAD;initial catalog=DB_A184E6_Testingdb;user id=sa;password=sql@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--Remote Connection string-->
    <!--<add name="AuctionInventoryEntities" connectionString="metadata=res://*/Entity.AuctionInventoryEntities.csdl|res://*/Entity.AuctionInventoryEntities.ssdl|res://*/Entity.AuctionInventoryEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5013.myWindowsHosting.com;initial catalog=DB_A184E6_Testingdb;user id=DB_A184E6_Testingdb_admin;password=tausif7043;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
 
  </connectionStrings>
</configuration>