@{
    ViewBag.Title = "PaperDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Paper Details</h2>

<div class="box-body">
    @*<input class="form-control datepicker input-group-sm" name="DynamicDecDate" placeholder="Enter" id="txtDecDate" />*@

    @*<label>Paper Type:</label>
        <div class="options" id="divBoxGroup">
            <label>
                <input type="radio" id="ckbImportOption" name="nam_GroupMode" value="1" />Import
            </label>
            <label>
                <input type="radio" id="ckbExportOption" name="nam_GroupMode" value="2" />Export
            </label>
            <label>
                <input type="radio" id="ckbTransferOption" name="nam_GroupMode" value="3" />Transfer
            </label>
        </div>*@

    <select id="ddlPaperType" name="nam_GroupMode" onchange="getPaperType(this);">
        <option>Select Type</option>
        <option value="1">Import</option>
        <option value="2">Export</option>
        <option value="3">Transfer</option>

    </select>
    <br><br>
    @*<div id="divFillBySalesVehicle" style="display:none">
            <table id="dataGrid" class="table table-bordered table-striped"></table>
            <div id="pagingGrid"></div>
        </div>

        <br><br>*@
    <div id="divForImport" style="display:none">
        <table id="dataGridImport" class="table table-bordered table-striped"></table>
        <div id="pagingGridImport"></div>
        <br><br>
        @*<table id="dataGridForImport" class="table table-bordered table-striped"></table>
        <div id="pagingGridForImport"></div>*@

       
    </div>
   
    <div id="divForExport" style="display:none">
        <table id="dataGridExport" class="table table-bordered table-striped"></table>
        <div id="pagingGridExport"></div>
        <br><br>
        @*<table id="dataGridForExport" class="table table-bordered table-striped"></table>
        <div id="pagingGridForExport"></div>*@
    </div>

    <div id="divForAppendedTextBox" style="display:none">

    </div>
</div>


<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(); //Initialise any date pickers
        //$('input[type=datetime]').datepicker();
    });

</script>

<script type="text/javascript">

    var PapertypeID;
    var arrImportVehicleID = new Array();
    var arrExportVehicleID = new Array();
    function getPaperType(selectedType) {

        PapertypeID = $("#ddlPaperType").val();


        $.ajax({
            url: '/Papers/GetSalesVehicleByPapertype/',
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ paperTypeID: PapertypeID }),
            success: function (result) {

                debugger


                //$("#dataGrid").trigger("reloadGrid");

                var vehiclePaperByType = result.vehiclePaperByType;


                if (PapertypeID == 1) {
                    
                    $("#divForImport").show();
                    $("#divForAppendedTextBox").show();
                    $("#divForExport").hide();
                    //Grid for Import


                    $('#dataGridImport').jqGrid({
                        caption: "Import Vehicle List",
                        data: vehiclePaperByType,
                        datatype: "local",
                        //contentType: "application/json; charset-utf-8",

                        colNames: ['ID', 'Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY'],
                        colModel: [
                            { name: 'iVehicleID', index: 'iVehicleID', hidden: true, hidedlg: true },
                            { name: 'iLotNum', index: 'iLotNum' },
                            { name: 'strChassisNum', index: 'strChassisNum' },
                            { name: 'iModel', index: 'iModel' },
                            { name: 'iYear', index: 'iYear' },
                            { name: 'color', index: 'color' },
                            { name: 'iCustomValInJPY', index: 'iCustomValInJPY' },


                        ],
                        width: 'auto',
                        //height:300,
                        rowNum: 10,
                        //loadonce: true,
                        rowList: [10, 20, 30],
                        pager: 'pagingGridImport',
                        beforeSelectRow: function (rowid, celname, value, iRow, iCol) {
                            debugger;
                            var rowData = jQuery("#dataGridImport").getRowData(rowid);
                            var rowDataVehicleID = rowData['iVehicleID'];
                            var rowDataChasisNum = rowData['strChassisNum'];
                            //arrVehicleID.push(rowDataVehicleID);

                            var addVehicleID = false;
                            $.map(arrImportVehicleID, function (elementOfArray, indexInArray) {
                                if (elementOfArray.VehicleID == rowDataVehicleID) {

                                    addVehicleID = true;
                                }
                            })
                            if (!addVehicleID) {
                                arrImportVehicleID.push({ VehicleID: rowDataVehicleID })
                                $('#divForAppendedTextBox').append("<div class='row'>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblChassisNum'>" + "ChassisNo" + "</label>" + "<input class='form-control input-group-sm'  type='text' name='DynamicChassisNo' min='1' max='5' placeholder='Enter' id='txtChassisNo' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblDecNo'>" + "DecNo" + "</label>" + "<input class='form-control input-group-sm'  type='text' name='DynamicDecNo' min='1' max='5' placeholder='Enter' id='txtDecNo' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblDecDate'>" + "DecDate" + "</label>" + "<input class='form-control datepicker input-group-sm' name='DynamicDecDate' placeholder='Enter' id='txtDecDate' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblDeposit'>" + "Deposit" + "</label>" + "<input class='form-control input-group-sm'  type='text' name='DynamicDeposit' min='1' max='5' placeholder='Enter' id='txtDeposit' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblDuty'>" + "Duty" + "</label>" + "<input class='form-control input-group-sm' type='text' name='DynamicDuty' min='1' max='5' placeholder='Enter' id='txtDuty' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblPaper'>" + "Paper" + "</label>" + "<input class='form-control input-group-sm'  type='text' name='DynamicPaper' min='1' max='5' placeholder='Enter' id='txtPaper' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblTotal'>" + "Total" + "</label>" + "<input class='form-control input-group-sm' type='text' name='DynamicTotal' min='1' max='5' placeholder='Enter' id='txtTotal' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblBal'>" + "Bal" + "</label>" + "<input class='form-control input-group-sm'  type='text' name='DynamicBal' min='1' max='5' placeholder='Enter' id='txtBal' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblExpense'>" + "</label>" + "<input type='button' value='Remove' class='remove' id='btnRemove' /></div>");
                                //+ "<input type='button' value='Remove' class='remove' id='btnRemove' />'</div>");
                            }


                            // arr.push(rowDataVehicleID);
                            //$('#dataGridForImport').jqGrid('addRowData', rowDataVehicleID, rowData);

                            //$('#divAddVehicle').show();
                        }

                    });
                    jQuery("#dataGridImport").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
                    jQuery("#dataGridImport").jqGrid('navGrid', '#pagingGridImport', { edit: false, add: false, del: false, search: false });




                }

                    //Grid for Export

                else if (PapertypeID == 2) {
                    $("#divForExport").show();
                    $("#divForAppendedTextBox").show();
                    $("#divForImport").hide();


                    $('#dataGridExport').jqGrid({
                        caption: "Export Vehicle List",
                        data: vehiclePaperByType,
                        datatype: "local",
                        //contentType: "application/json; charset-utf-8",

                        colNames: ['ID', 'Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY'],
                        colModel: [
                            { name: 'iVehicleID', index: 'iVehicleID', hidden: true, hidedlg: true },
                            { name: 'iLotNum', index: 'iLotNum' },
                            { name: 'strChassisNum', index: 'strChassisNum' },
                            { name: 'iModel', index: 'iModel' },
                            { name: 'iYear', index: 'iYear' },
                            { name: 'color', index: 'color' },
                            { name: 'iCustomValInJPY', index: 'iCustomValInJPY' },


                        ],
                        width: 'auto',
                        //height:300,
                        rowNum: 10,
                        //loadonce: true,
                        rowList: [10, 20, 30],
                        pager: 'pagingGridExport',
                        beforeSelectRow: function (rowid, celname, value, iRow, iCol) {
                            debugger;
                            var rowData = jQuery("#dataGridExport").getRowData(rowid);
                            var rowDataVehicleID = rowData['iVehicleID'];                           

                            var addVehicleID = false;
                            $.map(arrExportVehicleID, function (elementOfArray, indexInArray) {
                                if (elementOfArray.VehicleID == rowDataVehicleID) {

                                    addVehicleID = true;
                                }
                            })
                            if (!addVehicleID) {
                                arrExportVehicleID.push({ VehicleID: rowDataVehicleID })
                                $('#divForAppendedTextBox').append("<div class='row'>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "Receiving" + "</label>" + "<input class='form-control datepicker input-group-sm'  name='DynamicReceivingDate' placeholder='Date' id='txtReceivingDate' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "Submit" + "</label>" + "<input class='form-control datepicker input-group-sm'  name='DynamicSubmitDate'  placeholder='Date' id='txtSubmitDate' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "CApproval" + "</label>" + "<input class='form-control input-group-sm' type='text' name='DynamicApproval'  placeholder='Enter' id='txtApproval' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "Deduction" + "</label>" + "<input class='form-control input-group-sm'  type='text' name='DynamicDeduction'  placeholder='Enter' id='txtDeduction' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "Fine" + "</label>" + "<input class='form-control input-group-sm' type='text' name='DynamicFine' placeholder='Enter' id='txtFine' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "Misc" + "</label>" + "<input class='form-control input-group-sm'  type='text' name='DynamicMisc'  placeholder='Enter' id='txtMisc' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "Deposit" + "</label>" + "<input class='form-control input-group-sm' type='text' name='DynamicExpDeposit'  placeholder='Enter' id='txtExpDeposit' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "Bal" + "</label>" + "<input class='form-control input-group-sm'  type='text' name='DynamicExpBal' placeholder='Enter' id='txtExpBal' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "</label>" + "<input type='button' value='Remove' class='remove' id='btnRemove' /></div>");
                                //+ "<input type='button' value='Remove' class='remove' id='btnRemove' />'</div>");
                            }
                        }

                    });
                    jQuery("#dataGridExport").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
                    jQuery("#dataGridExport").jqGrid('navGrid', '#pagingGridExport', { edit: false, add: false, del: false, search: false });

                }
            }
        });
    }

    $(function () {
        $("body").on("click", ".remove", function () {
            debugger;
            $(this).closest("div").remove();
            //ExpenseTotalAmount = 0;
            //counter = counter - 1;
            //AmountTextBox();

            //ALLExpense();

            //RemoveALLExpense(favorite);

        });
    });

</script>


<!-- JqGrid Scripts -->
<link href="~/scripts/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<link href="~/scripts/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-migrate-1.2.1-min.js"></script>
<script src="~/scripts/jQuery-migrate-1.2.1.js"></script>
<script src="~/scripts/grid.locale-en.js"></script>
<script src="~/scripts/jquery.jqgrid.min.js"></script>