@model AuctionInventory.Models.PaperDetailsExportModel
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpdateExportIndex</h2>

@Html.HiddenFor(a => a.iPaperDetailsForExportID)




<div class="box-body">

    <select id="ddlPaperType" name="nam_GroupMode">
        <option value="1">Import</option>
    </select>
    <br><br>

    <div id="divForImport" style="display:none">
        <table id="dataGridImport" class="table table-bordered table-striped"></table>
        <div id="pagingGridImport"></div>
        <br><br>
        <div id="divForAppendedImportTextBox" style="display:none">

        </div>


    </div>

    <div id="divForExport" style="display:none">
        <table id="dataGridExport" class="table table-bordered table-striped"></table>
        <div id="pagingGridExport"></div>
        <br><br>
        <div id="divForAppendedExportTextBox" style="display:none">

        </div>
    </div>

    @*<div id="divForAppendedTextBox" style="display:none">

        </div>*@

    <div id="divForAllBtn" style="display: none">
        <div style="margin-left: 222px;">
            <input type="button" id="btnAdd" value="ADD " />
            <input type="button" id="btnAdd" value="Update " />
            <input type="button" id="btnAdd" value="Print Receipt " />
            <input type="button" id="btnAdd" value="Pending Bills " />
            <input type="button" id="btnAdd" value="Expired Bills " />
        </div>

    </div>
</div>


<script type="text/javascript">
    var counterImport = 0;
    var counterExport = 0;
    var PapertypeID;
    var arrImportVehicleID = new Array();
    var arrExportVehicleID = new Array();


    function getPaperType(selectedType) {

        PapertypeID = $("#ddlPaperType").val();
        //arrImportVehicleID = [];
        //arrExportVehicleID = [];

        arrImportVehicleID = new Array();
        arrExportVehicleID = new Array();

        $.ajax({
            url: '/Papers/GetSalesVehicleByPapertype/',
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ paperTypeID: PapertypeID }),
            success: function (result) {

                debugger


                //$("#dataGrid").trigger("reloadGrid");

                var vehiclePaperByType = result.vehiclePaperByType;

                /////////////////////////////////////  Grid for Import   //////////////////////////////////////////////
                if (PapertypeID == 1) {



                    $("#divForImport").show();
                    $("#divForAppendedImportTextBox").show();
                    $("#divForExport").hide();
                    $("#divForAppendedExportTextBox").hide();

                    $('#dataGridImport').jqGrid({
                        caption: "Import Vehicle List",
                        data: vehiclePaperByType,
                        datatype: "local",
                        //contentType: "application/json; charset-utf-8",

                        colNames: ['ID', 'Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY'],
                        colModel: [
                            { name: 'iVehicleID', index: 'iVehicleID', hidden: true, hidedlg: true },
                            { name: 'iLotNum', index: 'iLotNum' },
                            { name: 'strChassisNum', index: 'strChassisNum' },
                            { name: 'iModel', index: 'iModel' },
                            { name: 'iYear', index: 'iYear' },
                            { name: 'color', index: 'color' },
                            { name: 'iCustomValInJPY', index: 'iCustomValInJPY' },


                        ],
                        width: 'auto',
                        //height:300,
                        rowNum: 10,
                        //loadonce: true,
                        rowList: [10, 20, 30],
                        pager: 'pagingGridImport',
                        beforeSelectRow: function (rowid, celname, value, iRow, iCol) {
                            debugger;
                            var rowData = jQuery("#dataGridImport").getRowData(rowid);
                            var rowDataVehicleID = rowData['iVehicleID'];
                            var rowDataChasisNum = rowData['strChassisNum'];
                            //arrVehicleID.push(rowDataVehicleID);

                            var addVehicleID = false;
                            $.map(arrImportVehicleID, function (elementOfArray, indexInArray) {
                                if (elementOfArray.VehicleID == rowDataVehicleID) {

                                    addVehicleID = true;
                                }
                            })
                            if (!addVehicleID) {
                                arrImportVehicleID.push({ VehicleID: rowDataVehicleID })
                                $('#divForAppendedImportTextBox').append("<div class='row' name='divForRemoveImport' id='" + rowDataVehicleID + "'>"

                                    + "<div class='form-group col-sm-1'>" + "<label id='lblChassisNum'>" + "ChassisNo" + "</label>" + "<label class='label label-warning' id='lblChassisNum'><span>" + rowDataChasisNum + "</span></label></div>"

                             // + "<div class='form-group col-sm-2'>" + "<label id='lblChassisNum'>" + "ChassisNo" + "</label>" + "<input class='form-control input-group-sm'  type='text' name='DynamicChassisNo' placeholder='Enter' id='txtChassisNo"+ counterImport + "' value='" + rowDataChasisNum + "' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblDecNo'>" + "DecNo" + "</label>" + "<input class='form-control input-group-sm'  type='text'     name='DynamicDecNo' placeholder='Enter' id='txtDecNo" + counterImport + "'/></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblDecDate'>" + "DecDate" + "</label>" + "<input class='form-control datepicker input-group-sm'   name='DynamicDecDate' placeholder='Enter' id='txtDecDate" + counterImport + "' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblDeposit'>" + "Deposit" + "</label>" + "<input class='form-control input-group-sm'  type='text' name='DynamicDeposit' placeholder='Enter' id='txtDeposit" + counterImport + "' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblDuty'>" + "Duty" + "</label>" + "<input class='form-control input-group-sm' type='text'        name='DynamicDuty'  placeholder='Enter' id='txtDuty" + counterImport + "' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblPaper'>" + "Paper" + "</label>" + "<input class='form-control input-group-sm'  type='text'     name='DynamicPaper' placeholder='Enter' id='txtPaper" + counterImport + "' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblTotal'>" + "Total" + "</label>" + "<input class='form-control input-group-sm' type='text'      name='DynamicTotal' placeholder='Enter' id='txtTotal" + counterImport + "' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblBal'>" + "Bal" + "</label>" + "<input class='form-control input-group-sm'  type='text'         name='DynamicBal' placeholder='Enter' id='txtBal" + counterImport + "' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label id='lblExpense'>" + "</label>" + "<input type='button' value='Remove' class='removeImport'' id='btnRemoveImport' /></div>");
                                //+ "<input type='button' value='Remove' class='remove' id='btnRemove' />'</div>");
                            }
                            counterImport++;
                            $("#divForAllBtn").show();

                        }

                    });
                    jQuery("#dataGridImport").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
                    jQuery("#dataGridImport").jqGrid('navGrid', '#pagingGridImport', { edit: false, add: false, del: false, search: false });

                }
                    //////////////////////////////////////////// //Grid for Export///////////////////////////////////////////////////////////////////////////

                else if (PapertypeID == 2) {

                    $("#divForExport").show();
                    $("#divForAppendedExportTextBox").show();


                    $("#divForImport").hide();
                    $("#divForAppendedImportTextBox").hide();

                    $('#dataGridExport').jqGrid({
                        caption: "Export Vehicle List",
                        data: vehiclePaperByType,
                        datatype: "local",
                        //contentType: "application/json; charset-utf-8",

                        colNames: ['ID', 'Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY'],
                        colModel: [
                            { name: 'iVehicleID', index: 'iVehicleID', hidden: true, hidedlg: true },
                            { name: 'iLotNum', index: 'iLotNum' },
                            { name: 'strChassisNum', index: 'strChassisNum' },
                            { name: 'iModel', index: 'iModel' },
                            { name: 'iYear', index: 'iYear' },
                            { name: 'color', index: 'color' },
                            { name: 'iCustomValInJPY', index: 'iCustomValInJPY' },


                        ],
                        width: 'auto',
                        //height:300,
                        rowNum: 10,
                        //loadonce: true,
                        rowList: [10, 20, 30],
                        pager: 'pagingGridExport',
                        beforeSelectRow: function (rowid, celname, value, iRow, iCol) {
                            debugger;
                            var rowData = jQuery("#dataGridExport").getRowData(rowid);
                            var rowDataVehicleID = rowData['iVehicleID'];

                            var addVehicleID = false;
                            $.map(arrExportVehicleID, function (elementOfArray, indexInArray) {
                                if (elementOfArray.VehicleID == rowDataVehicleID) {

                                    addVehicleID = true;
                                }
                            })
                            if (!addVehicleID) {
                                arrExportVehicleID.push({ VehicleID: rowDataVehicleID })
                                $('#divForAppendedExportTextBox').append("<div class='row' name='divForRemoveExport' id='" + rowDataVehicleID + "'>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "Receiving" + "</label>" + "<input class='form-control datepicker input-group-sm'  name='DynamicReceivingDate' placeholder='Date' id='txtReceivingDate" + counterExport + "' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "Submit" + "</label>" + "<input class='form-control datepicker input-group-sm'  name='DynamicSubmitDate'  placeholder='Date' id='txtSubmitDate" + counterExport + "' /></div>"
                              //+ "<div class='form-group col-sm-1'>" + "<label>" + "CApproval" + "</label>" + "<input class='form-control input-group-sm' type='text' name='DynamicApproval'  placeholder='Enter' id='txtApproval" + counterExport + "' /></div>"

                              + "<div class='form-group col-sm-2'>" + "<label>" + "CustApproval" + "</label>"
                              + "<select class='form-control input-group-sm' id='ddlApproval' name='DynamicApproval' onchange='getApproval(this);'>"
                              + "<option>Select Approval</option>" + "<option value='1'>Yes</option>" + "<option value='0'>No</option>" + "</select></div>"


                              + "<div class='form-group col-sm-1'>" + "<label>" + "Deduction" + "</label>" + "<input class='form-control input-group-sm'  type='text' name='DynamicDeduction'  placeholder='Enter' id='txtDeduction" + counterExport + "' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "Fine" + "</label>" + "<input class='form-control input-group-sm' type='text' name='DynamicFine' placeholder='Enter' id='txtFine" + counterExport + "' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "Misc" + "</label>" + "<input class='form-control input-group-sm'  type='text' name='DynamicMisc'  placeholder='Enter' id='txtMisc" + counterExport + "' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "Deposit" + "</label>" + "<input class='form-control input-group-sm' type='text' name='DynamicExpDeposit'  placeholder='Enter' id='txtExpDeposit" + counterExport + "' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "Bal" + "</label>" + "<input class='form-control input-group-sm'  type='text' name='DynamicExpBal' placeholder='Enter' id='txtExpBal" + counterExport + "' /></div>"
                              + "<div class='form-group col-sm-1'>" + "<label>" + "</label>" + "<input type='button' value='Remove' class='removeExport' id='btnRemoveExport' /></div>");
                                // + "<input type='button' value='Remove' class='remove' id='btnRemove' />'</div>");
                            }
                            counterExport++;
                            $("#divForAllBtn").show();
                        }


                    });
                    jQuery("#dataGridExport").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
                    jQuery("#dataGridExport").jqGrid('navGrid', '#pagingGridExport', { edit: false, add: false, del: false, search: false });

                }
            }
        });
    }



    $("body").on("click", ".removeExport", function () {
        debugger;

        //$(this).closest("div[name='divForRemoveExport']").remove();
        arrExportVehicleID.pop($(this).closest("div[name='divForRemoveExport']").remove());
    });


    $("body").on("click", ".removeImport", function () {
        debugger;
        arrImportVehicleID.pop($(this).closest("div[name='divForRemoveImport']").remove());
        //$(this).closest("div[name='divForRemoveImport']").remove();

    });

</script>

<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker({ dateFormat: 'dd/mm/yy' }); //Initialise any date pickers

        //divForAppendedImportTextBox.find("input[name='DynamicDecDate']").datepicker();

        //DynamicDecDate.find(".datepicker").datepicker();

        //divForAppendedExportTextBox.find(".datepicker").datepicker();
    });

</script>


<script>
    var Approval;
    function getApproval(CID) {
        Approval = $("#ddlApproval").val();
        //alert(Approval);
    }
    var arrImportDataToTransfer = new Array();
    var arrExportDataToTransfer = new Array();
    $("#divForAllBtn").click(function () {
        debugger
        if (PapertypeID == 1) {

            for (var j = 0; j < arrImportVehicleID.length;) {

                for (var i = 0; i < counterImport; i++) {

                    var vehicleID = arrImportVehicleID[j].VehicleID;
                    var DecNo = $("#txtDecNo" + i).val();
                    var DecDate = $("#txtDecDate" + i).val();
                    var Deposit = $("#txtDeposit" + i).val();
                    var Duty = $("#txtDuty" + i).val();
                    var Paper = $("#txtPaper" + i).val();
                    var Total = $("#txtTotal" + i).val();
                    var Bal = $("#txtBal" + i).val();

                    var paperImportData =
                          {
                              iVehicleID: vehicleID,
                              iDecNo: DecNo,
                              strDecDate: DecDate,
                              iImpDeposit: Deposit,
                              iDuty: Duty,
                              iPaper: Paper,
                              iTotal: Total,
                              iImpBalance: Bal

                          }
                    arrImportDataToTransfer.push(paperImportData);
                    j++;
                }
                SaveImportData(arrImportDataToTransfer);
            }

            function SaveImportData(arr) {
                debugger;

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: "/Papers/SaveImport",
                    data: JSON.stringify({ 'importModel': arr }),
                    success: function (data) { alert("Succsesfully Saved Import Data."); }
                });
            }

        }
        else if (PapertypeID == 2) {

            function getApproval(CID) {
                var Approval = $("#ddlApproval").val();

            }
            // alert(Approval);

            for (var j = 0; j < arrExportVehicleID.length;) {

                for (var i = 0; i < counterExport; i++) {

                    var vehicleID = arrExportVehicleID[j].VehicleID;
                    var ReceivingDate = $("#txtReceivingDate" + i).val();
                    var SubmitDate = $("#txtSubmitDate" + i).val();
                    var Deduction = $("#txtDeduction" + i).val();
                    var Fine = $("#txtFine" + i).val();
                    var Misc = $("#txtMisc" + i).val();
                    var ExpDeposit = $("#txtExpDeposit" + i).val();
                    var ExpBal = $("#txtExpBal" + i).val();

                    var paperExportData =
                          {
                              iVehicleID: vehicleID,
                              strReceivingDate: ReceivingDate,
                              strSubmitDate: SubmitDate,
                              iCustApproval: Approval,
                              iDeduction: Deduction,
                              iFine: Fine,
                              iMisc: Misc,
                              iExportDeposit: ExpDeposit,
                              iExportBalance: ExpBal

                          }
                    arrExportDataToTransfer.push(paperExportData);
                    j++;
                }
                SaveExportData(arrExportDataToTransfer);
            }

            function SaveExportData(arrExp) {
                debugger;

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: "/Papers/SaveExport",
                    data: JSON.stringify({ 'exportModel': arrExp }),
                    success: function (data) { alert("Succsesfully Saved Export Data."); }
                });

            }
        }
    });

</script>


<script>



    $(document).on('keyup', 'input[name="DynamicDuty"]', function () {

        calculateTotalSum();
    });

    $(document).on('keyup', 'input[name="DynamicPaper"]', function () {

        calculateTotalSum();
    });

    function calculateTotalSum() {
        debugger;

        //iterate through each textboxes and add the values

        for (var i = 0; i < counterImport; i++) {
            var Total = 0;
            var Bal = 0;

            var Deposit = $("#txtDeposit" + i).val();
            var Duty = $("#txtDuty" + i).val();
            var Paper = $("#txtPaper" + i).val();
            //var Total = $("#txtTotal" + i).val();
            //var Bal = $("#txtBal" + i).val();

            Total += parseFloat(Duty) + parseFloat(Paper);
            //Total = (Duty + Paper);
            Bal += parseFloat(Deposit - Total);

            if (!isNaN(Total) && Total.length != 0) {

                $("#txtTotal" + i).val(Total.toFixed(2));

                $("#txtBal" + i).val(Bal.toFixed(2));
            }


        }

        //$("#txtTotal" + i).val()(sum.toFixed(2));

        //$("input[name='DynamicTextBox']").each(function () {

        //    //add only if the value is number
        //    if (!isNaN(this.value) && this.value.length != 0) {
        //        sum += parseFloat(this.value);
        //    }

        //});


        ////.toFixed() method will roundoff the final sum to 2 decimal places
        //$("#sum").html(sum.toFixed(2)); //show on span use html

    }

</script>

<!-- JqGrid Scripts -->
<link href="~/scripts/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<link href="~/scripts/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-migrate-1.2.1-min.js"></script>
<script src="~/scripts/jQuery-migrate-1.2.1.js"></script>
<script src="~/scripts/grid.locale-en.js"></script>
<script src="~/scripts/jquery.jqgrid.min.js"></script>
