@*@model AuctionInventory.Models.Purchase*@

@*@model AuctionInventory.Models.Expenses*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="boxbody" style="width:90%; margin:0px auto" class="tablecontainer">
    <div class="box-body">
        <div id="divDetails" class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Purchase Inv No: </label>
                    @*<label>Purchase Inv No:PUR-@(@DateTime.Now.Year % 100)-<span id="invno"></span></label>*@
                    <input type="text" id="invno" class="form-control" />
                    @*@Html.TextBoxFor(a => a.iPurchaseInvoiceNo, new { @class = "form-control", @id = "invno" })>*@
                    <input type="button" value="Search" id="JQGridFill" />
                </div>

            </div>

            <div class="row">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

                <table id="dataGrid" class="table table-bordered table-striped"></table>
                <div id="pagingGrid"></div>
                <br />
                <br />
            </div>

            <div id="AddExpenseDynamic" style="display:none">
                <input type="hidden" id="hfExpense" />
                <input type="text" id="txtSearchExpense" name="name" placeholder="search Expenses" />
                <input id="btnAdd" type="button" value="ADD Expenses" />
                <br />
                <br />
                <div id="TextBoxContainer">
                    <!--Textboxes will be added here -->
                </div>
                <br />

                <div id="totalExpense" style="display:none">
                    <br />

                    <input type="button" value="ADD All Expenses" class="btn btn-success" id="btnAddTotalSum" />
                    <br />
                    <br />
                    <label>Total Expense Amount :</label><input type="text" id="totalSum" readonly />
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $("#txtSearchExpense").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/MExpenses/AutoCompleteExpense/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (!data.length) {
                            var result = [
                             {
                                 label: 'No matches found',
                                 value: response.term
                             }
                            ];
                            response(result);
                        }
                        else {
                            // normal response
                            response($.map(data, function (item) {
                                return {

                                    label: item.strExpenseName,
                                    value: item.strExpenseName,
                                    iExpenseID: item.iExpenseID
                                }
                            }));
                        }
                    }


                });
            },
            select: function (event, i) {

                event.preventDefault();

                $("#txtSearchExpense").val(i.item.value);
                //$("#txtSearchSupplier").val(i.item.strLastName);
                //$("#txtSearchSupplier").val(i.item.strEmailID);
                $("#hfExpense").val(i.item.iExpenseID);

                //alert(i.item.iExpenseID);
                //var id = i.item.value;

                //$('#btnAdd').attr('onClick', 'AddTextBox(' + id + ')');

                return false;
            },
            minLength: 1
        });
    });
</script>

<script type="text/javascript">
    $("#JQGridFill").click(function () {

        var request = $('#invno').val();

        $.ajax({

            url: "/MExpenses/VehiclesByInvoiceID",
            data: JSON.stringify({ request: request }),
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                var listPurchase = result.listPurchase
                bindGrid(listPurchase);
                $('#AddExpenseDynamic').show();
            }
        });

        function bindGrid(listPurchase) {

            $('#dataGrid').jqGrid({
                caption: "Expenses For All Vehicles",
                data: listPurchase,
                datatype: "local",
                // colNames: ['Action', 'Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY', 'Assessed Value', 'AED'],
                colNames: ['Invoice No', 'Invoice Date', 'No Of units', 'Master Dec No', 'BL NO'],
                colModel: [
                    { name: 'iPurchaseInvoiceNo', index: 'iPurchaseInvoiceNo' },
                    { name: 'strPurchaseInvoiceDate', index: 'strPurchaseInvoiceDate' },
                    { name: 'NoOfUnits', index: 'NoOfUnits' },
                    { name: 'strMasterDecNo', index: 'strMasterDecNo' },
                    { name: 'strBLNo', index: 'strBLNo' },



                ],
                width: 850,
                height: 70,
                rowNum: 10,
                // loadonce: true,
                rowList: [10, 20, 30],
                pager: 'pagingGrid',
                // editurl: '/MVehicle/Save/',


            });
            jQuery("#dataGrid").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
            jQuery("#dataGrid").jqGrid('navGrid', '#pagingGrid', { edit: false, add: false, del: false, search: false, rel: false });

        }
    });

</script>


<script type="text/javascript">
    //var ExpenseTotalAmount = 0;
    var counter = 1;
    var favorite = [];
    $(function () {


        $("#btnAdd").bind("click", function () {

            if (document.getElementById('txtSearchExpense').value == "" || document.getElementById('txtSearchExpense').value == "No matches found") {

                $('#txtSearchExpense').css('border-color', 'red');
            }
            else {
                $('#txtSearchExpense').css('border-color', '');
                var id = $("#hfExpense").val();
                var value = $("#txtSearchExpense").val();

                $('#TextBoxContainer').append("<div>" + "<label style='display:none'  id='lblExpenseID" + counter + "'>" + id + "</label>" + "<label  id='lblExpense" + counter + "'>" + value + "</label>" + "<input  type='number' name='DynamicTextBox' min='1' max='5' placeholder='Enter Amount' id='txtAmount" + counter + "' />" + "<input type='button' value='Remove' class='remove' id='btnRemove" + counter + "' />'</div>");


                counter++;

                $("#totalExpense").show();
                $('#txtSearchExpense').val("");

            }





        });

        //Adding total Amount To Textbox


        $(function () {
            $("#btnAddTotalSum").click(function () {
                AmountTextBox();

                debugger;
                ALLExpense();


                SaveALLExpense(favorite);


            });
        });



        $("body").on("click", ".remove", function () {
            debugger;
            $(this).closest("div").remove();
            ExpenseTotalAmount = 0;
            counter = counter - 1;

            AmountTextBox();

            ALLExpense();

            //RemoveALLExpense(favorite);

        });
    });

    var ExpenseTotalAmount = 0;
    var arrTextBoxAmount = new Array();
    function AmountTextBox() {
        ExpenseTotalAmount = 0;
        arrTextBoxAmount = new Array();

        $.each($("input[name='DynamicTextBox']"), function () {

            arrTextBoxAmount.push($(this).val());

        })


        for (var i = 0; i < arrTextBoxAmount.length; i++) {

            var test = $.isNumeric(arrTextBoxAmount[i])
            if (test == false) {
                return false;
            }

            ExpenseTotalAmount += parseFloat(arrTextBoxAmount[i])

            //ExpenseTotalAmount += Number($("#txtAmount" + i).val());
        }
        //alert(ExpenseTotalAmount);
        $("#totalSum").val(ExpenseTotalAmount);

    }

    function SaveALLExpense(arr) {
        debugger;

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: "/MExpenses/SaveAllVehicleExpense",
            data: JSON.stringify({ 'expense': arr }),
            success: function (data) { alert("Succsesfully Saved All Vehicle Expense."); }
        });

    }

    function RemoveALLExpense(Removedata) {

        $.ajax({
            type: "POST",
            url: "/MExpenses/Delete",
            data: { expense: Removedata },
            success: function (data) { alert("SUCCESS"); }
        });
    }
    function ALLExpense() {
        debugger;
        for (var i = 1; i < counter; i++) {
            var ExpenseID = $("#lblExpenseID" + i).html();
            //var ExpenseName = $("#lblExpense" + i).html();
            var ExpenseAmount = $("#txtAmount" + i).val();
            var ExpenseTotalAmount = $("#totalSum").val();
            var expenseAmount =
                  {
                      //iExpenseID: $("#hfExpense").val(),

                      iPurchaseInvoiceID: $("#invno").val(),
                      iExpenseID: ExpenseID,
                      //iCategoryID: 2,
                      //iSubCategoryID: 1,
                      iExpenseAmount: ExpenseAmount,
                      iTotalExpenseAmounrt: ExpenseTotalAmount

                  }

            favorite.push(expenseAmount);
            //If you to save all data in one by one then Save function here
            //Save(textValue);
        }
    }

</script>

<!-- JqGrid Scripts -->
<link href="~/scripts/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<link href="~/scripts/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-migrate-1.2.1-min.js"></script>
<script src="~/scripts/jQuery-migrate-1.2.1.js"></script>
<script src="~/scripts/grid.locale-en.js"></script>
<script src="~/scripts/jquery.jqgrid.min.js"></script>