@{
    ViewBag.Title = "AllVehicleExpensesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllVehicleExpensesList</h2>

<div class="box-body" id="divForAllVehicleExpensesListGrid">
    <div>
        <a class="btn btn-primary" href="/MExpenses/AllVehicleExpenses" style="margin-bottom:20px; margin-top:20px;">Add New</a>

    </div>
    <br />
    <div>
        <table id="dataGridForAllVehicleExpensesList" class="table table-bordered table-striped"></table>
        <div id="pagingGridForAllVehicleExpensesList"></div>
        <br><br>
    </div>
</div>

<div id="divForUpdateAllVehicleExpense" style="width:90%; margin:0px auto;display:none" class="tablecontainer">

    <div id="divDetails" class="row">
        <input type="hidden" id="hfiVehicleExpenseID" />

        @*<div class='form-group col-sm-4'>
                <label>Purchase Inv No: </label>
                <input type="text" class='form-control input-group-sm' id="invno" placeholder="Search By Invoice ID" />

            </div>
            <div class='form-group col-sm-2'>
                <input id="JQGridFill" style="margin-left: 25px;" class='btn btn-success form-control input-group-sm' type="button" value="Search" />
            </div>*@

        @*<label>Purchase Inv No: </label>*@
        <div class='row'>


            @*<div class='form-group col-sm-2'>


                    <label class='form-control input-group-sm' id='lblExpense'></label>
                </div>*@
            <div class='form-group col-sm-3'>
                <input type='number' id="invno" class='form-control input-group-sm' style='margin-left: -20px;' placeholder='Search By Invoice ID' />
            </div>

            <div class='form-group col-sm-2'>
                <input type='button' value='Search' style='margin-left: -35px;' class='btn btn-success' id='JQGridFill' />
            </div>

            <div class='form-group col-sm-2' style="margin-top:-23px;">
                <label>Date:</label>
                <input class='form-control datepicker input-group-sm' name='AllExpDate' placeholder='Enter drop of date...' id='txtAllExpDate' />
            </div>

        </div>


        @*<input type="text" id="invno" class="form-control" />
            <input type="button" value="Search" id="JQGridFill" />*@



        <div class="row" id="divFordataGrid">
            <br />

            <table id="dataGrid" class="table table-bordered table-striped"></table>
            <div id="pagingGrid"></div>
            <br />

        </div>


        <div class="row" id="divForUpdatedataGrid">
          

            <table id="UpdatedataGrid" class="table table-bordered table-striped"></table>
            <div id="UpdatepagingGrid"></div>
            <br />

        </div>

        <div id="AddExpenseDynamic">
            <div class='row form-group col-sm-4'>
                <input type="hidden" id="hfExpense" />
                <input type="text" class='form-control input-group-sm' id="txtSearchExpense" name="name" placeholder="search Expenses" />
            </div>

            <input id="btnAdd" class='btn btn-success' style="margin-left: 25px;" type="button" value="ADD Expenses" />

            <br />
            <br />
            <div id="TextBoxContainer">
                <!--Textboxes will be added here -->
            </div>
            <br />

            <div id="totalExpense">
                <br />

                <div>


                    <label style='background-color:orange'>Total Sum :<span id="totalSum">0</span></label>
                    <br />


                </div>

                @*<input type="button" value="ADD All Expenses" class="btn btn-success" id="btnAddTotalSum" />
                    <br />
                    <br />
                    <label>Total Expense Amount :</label><input type="text" id="totalSum" readonly />*@
               

                <div>
                    <br />
                    @*<asp:Button ID="btnDelete" runat="server" Text="Delete" OnClick="DeleteRecord" UseSubmitBehavior="false" />*@
                    <div id="dialog" style="display: none" align="center">
                        Do you want to Update this Expenses?
                    </div>
                    <input type="button" style="margin-left: 200px;" class="btn btn-success col-md-2" id="btnSaveAllVehiclesExpense" value="Update">

                    <input type="button" style="margin-left: 40px" class="btn btn-warning col-md-2" value="Cancel" onclick="CancelVehiclesExpenseInfo();" id="cancelVehiclesExpenseInfo">
                </div>

                @*<input type="button" value="Save" class="btn btn-success" id="btnSaveAllVehiclesExpense" />*@
            </div>
        </div>

    </div>
</div>



<script>

    function CancelVehiclesExpenseInfo() {
        window.location.href = "/MExpenses/AllVehicleExpensesList";
    }

    //var ExpenseTotalAmount = 0;
    var counter = 1;
    var favorite = [];
    var arrExpenseID = new Array();

   

    $(function () {

        //this grid is used to fill All Vehicle Expenses

        $('#dataGridForAllVehicleExpensesList').jqGrid({
            caption: "All Vehicle Expenses List",
            url: '/MExpenses/GetAllVehicleExpensesListData/',
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            mtype: 'GET',

            colNames: ['iVehicleExpenseID', 'Expense Name', 'Invoice No', 'Date', 'No Of Expenses', 'Expense Amount', 'Total Expense Amount', 'Action'],
            colModel: [
                { name: 'iVehicleExpenseID', index: 'iVehicleExpenseID', hidden: true, hidedlg: true },
                
                { name: 'strExpenseName', index: 'strExpenseName', hidden: true, hidedlg: true },

                { name: 'iPurchaseInvoiceID', index: 'iPurchaseInvoiceID', align: 'center' },

                { name: 'strExpenseDate', index: 'strExpenseDate', align: 'center' },
              
                { name: 'iExpenseID', index: 'iExpenseID', align: 'center' },
                { name: 'iExpenseAmount', index: 'iExpenseAmount', align: 'center' },
                { name: 'iTotalExpenseAmounrt', index: 'iTotalExpenseAmounrt', align: 'center' },

                //{ name: 'act', index: 'act', width: 350 },
                //{
                //    name: 'Action', index: 'Action', align: 'center', width: 200, search: false, title: false,
                //    formatter: function (cellvalue, options, rowObject) {
                //        return '<a class="popup btn btn-info" href="/Sales/UpdateSaleVehicle/' + options.rowId + '">' + "Edit" + '</a>' + "     " + '<a class="popup btn btn-info" href="/Sales/DeleteSales/' + options.rowId + '">' + "Delete" + '</a>';

                //    }
                //},

                 {
                     name: 'Action', index: 'Action', align: 'center', width: 100, search: false, title: false,
                     formatter: function (cellvalue, options, rowObject) {

                         return "<input class='popup btn btn-info' style='margin-right: 5%; ' type='button' value='Edit' onclick=\"editRowData('" + options.rowId + "');\"  />";
                     }

                 },


            ],
            width: 'auto',
            height: 150,
            rowNum: 10,
            loadonce: true,
            rowList: [10, 20, 30],
            pager: 'pagingGridForAllVehicleExpensesList',

            //gridComplete: function () {

            //    var ids = jQuery("#dataGrid").jqGrid('getDataIDs');

            //    for (var i = 0; i < ids.length; i++) {
            //        var cl = ids[i];
            //        be = "<input class='popup btn btn-info' style='margin-right: 5%; margin-left: 8%;' type='button' value='Edit' onclick=\"editRowData('" + cl + "');\"  />";
            //        //se = "<input class='popup btn btn-info' style='margin-right: 5%; ' type='button' value='Save'  onclick=\"saveExportRow('" + cl + "');\"/>";
            //        //ce = "<input class='popup btn btn-info' style='margin-right: 5%; ' type='button' value='Cancel' onclick=\"jQuery('#dataGridExport').restoreRow('" + cl + "');\" />";

            //        jQuery("#dataGrid").jqGrid('setRowData', ids[i], { act: be });
            //    }
            //},


        });
        jQuery("#dataGridForAllVehicleExpensesList").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
        jQuery("#dataGridForAllVehicleExpensesList").jqGrid('navGrid', '#pagingGridForAllVehicleExpensesList', { edit: false, add: false, del: false, search: false });

    });



   


    var arr = new Array();

    function editRowData(rowID) {
        debugger
        arr = new Array();
        $("#divForAllVehicleExpensesListGrid").hide();
        $("#divForUpdateAllVehicleExpense").show();

        var rowData = jQuery("#dataGridForAllVehicleExpensesList").getRowData(rowID);

        var iVehicleExpenseID = rowData['iVehicleExpenseID'];
        var iPurchaseInvoiceID = rowData['iPurchaseInvoiceID'];

        var strExpenseDate = rowData['strExpenseDate'];

        

        var iExpenseID = rowData['iExpenseID'];

        var strExpenseName = rowData['strExpenseName'];

        var iExpenseAmount = rowData['iExpenseAmount'];

        var iTotalExpenseAmounrt = rowData['iTotalExpenseAmounrt'];



        $("#hfiVehicleExpenseID").val(iVehicleExpenseID);
        $("#invno").val(iPurchaseInvoiceID);
        $("#txtAllExpDate").val(strExpenseDate);


        //$("#totalSum").html(iTotalExpenseAmounrt);



        $.ajax({

            url: "/MExpenses/VehiclesByInvoiceID",
            data: JSON.stringify({ request: iPurchaseInvoiceID }),
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                var listPurchase = result.listPurchase
                bindGrid(listPurchase);
                $('#AddExpenseDynamic').show();


                function bindGrid(listPurchase) {

                    $('#dataGrid').jqGrid({
                        caption: "Expenses For All Vehicles",
                        data: listPurchase,
                        datatype: "local",
                        // colNames: ['Action', 'Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY', 'Assessed Value', 'AED'],
                        colNames: ['Invoice No', 'Invoice Date', 'No Of units', 'Master Dec No', 'BL NO'],
                        colModel: [
                            { name: 'iPurchaseInvoiceNo', index: 'iPurchaseInvoiceNo', align: 'center' },
                            { name: 'strPurchaseInvoiceDate', index: 'strPurchaseInvoiceDate', align: 'center' },
                            { name: 'NoOfUnits', index: 'NoOfUnits', align: 'center' },
                            { name: 'strMasterDecNo', index: 'strMasterDecNo', align: 'center' },
                            { name: 'strBLNo', index: 'strBLNo', align: 'center' },



                        ],
                        width: 850,
                        height: 70,
                        rowNum: 10,
                        // loadonce: true,
                        rowList: [10, 20, 30],
                        pager: 'pagingGrid',
                        // editurl: '/MVehicle/Save/',


                    });
                    jQuery("#dataGrid").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
                    jQuery("#dataGrid").jqGrid('navGrid', '#pagingGrid', { edit: false, add: false, del: false, search: false, rel: false });

                }




                $(function () {

                    //var id = $("#hfExpense").val();


                    //$("#txtAmount").val(iExpenseAmount);



                    $.ajax({

                        url: "/MExpenses/GetExpenseByInvoiceID",
                        data: JSON.stringify({ id: iPurchaseInvoiceID }),
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            debugger

                            //var test = result.listExpense;

                            for (var i = 0; i < result.length; i++) {

                                //alert(result[i].iExpenseID);

                                //alert(result[i].strExpenseName);

                                //alert(result[i].iExpenseAmount);

                                var id = result[i].iExpenseID;
                                var value = result[i].strExpenseName;
                                //$('.txtAmountClass').val(result[i].iExpenseAmount);

                               

                                var addVehicleID = false;
                                $.map(arrExpenseID, function (elementOfArray, indexInArray) {
                                    if (elementOfArray.ExpenseID == id) {

                                        addVehicleID = true;
                                    }
                                })
                                if (!addVehicleID) {
                                    arrExpenseID.push({ ExpenseID: id })

                     //               $('#TextBoxContainer').append("<div  class='row' name='divForExpense'>"

                     //+ "<div class='form-group col-sm-2'>"
                     //+ "<label style='display:none' class='clsLblExpenseID'  id='lblExpenseID'>" + id + "</label>"
                     //+ "<label  class='form-control input-group-sm'  style='background-color:orange' id='lblExpense'>" + value + ":</label></div>"
                     // + "<div class='form-group col-sm-2'>"
                     //+ "<input  type='number' class='txtAmountClass form-control input-group-sm'  style='margin-left: -20px;' name='DynamicTextBox'  placeholder='Enter Amount' id='txtAmount' value='" + result[i].iExpenseAmount + "' /></div>"
                     // + "<div class='form-group col-sm-2'>"
                     //+ "<input type='button' value='Remove' style='margin-left: -35px;' class='remove btn btn-success' id='btnRemove' /></div></div>");



                                                  $('#TextBoxContainer').append("<div  class='row' name='divForExpense'>"

                                    + "<div class='form-group col-sm-2'>"
                                    + "<label style='display:none'  id='iVehicleExpenseID" + counter + "'>" + result[i].iVehicleExpenseID + "</label>"

                                    + "<label style='display:none'  id='lblExpenseID" + counter + "'>" + id + "</label>"
                                    + "<label  class='form-control input-group-sm'  style='background-color:orange' id='lblExpense" + counter + "'>" + value + ":</label></div>"
                                     + "<div class='form-group col-sm-2'>"
                                    + "<input  type='number' class='txtAmountClass form-control input-group-sm'  style='margin-left: -20px;' name='DynamicTextBox' min='1' max='5' placeholder='Enter Amount' id='txtAmount"
                                    + counter + "' value='" + result[i].iExpenseAmount + "' /></div>"
                                     + "<div class='form-group col-sm-2'>"
                                    + "<input type='button' value='Remove' style='margin-left: -35px;'   onclick='myFunction(" + id + ")' class='remove btn btn-success' id='btnRemove"
                                    + counter + "' /></div></div>");


                                                  counter++;


                                    calculateSum();
                                }
                            }
                        }
                    });
                });
            }
        });
    }
    $("#JQGridFill").click(function () {

        var request = $('#invno').val();

        $.ajax({

            url: "/MExpenses/VehiclesByInvoiceID",
            data: JSON.stringify({ request: request }),
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                var listPurchase = result.listPurchase
                bindGrid(listPurchase);
                $('#TextBoxContainer').html("");
                $('#divFordataGrid').html("");

                $('#totalSum').html("");
            }
        });

        function bindGrid(listPurchase) {

            $('#UpdatedataGrid').jqGrid({
                caption: "For All Vehicles",
                data: listPurchase,
                datatype: "local",
                // colNames: ['Action', 'Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY', 'Assessed Value', 'AED'],
                colNames: ['Invoice No', 'Invoice Date', 'No Of units', 'Master Dec No', 'BL NO'],
                colModel: [
                    { name: 'iPurchaseInvoiceNo', index: 'iPurchaseInvoiceNo', align: 'center' },
                    { name: 'strPurchaseInvoiceDate', index: 'strPurchaseInvoiceDate', align: 'center' },
                    { name: 'NoOfUnits', index: 'NoOfUnits', align: 'center' },
                    { name: 'strMasterDecNo', index: 'strMasterDecNo', align: 'center' },
                    { name: 'strBLNo', index: 'strBLNo', align: 'center' },



                ],
                width: 850,
                height: 70,
                rowNum: 10,
                // loadonce: true,
                rowList: [10, 20, 30],
                pager: 'UpdatepagingGrid',
                // editurl: '/MVehicle/Save/',


            });
            jQuery("#UpdatedataGrid").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
            jQuery("#UpdatedataGrid").jqGrid('navGrid', '#UpdatepagingGrid', { edit: false, add: false, del: false, search: false, rel: false });

        }
    });



</script>

<script type="text/javascript">
    $(function () {
        $("#txtSearchExpense").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/MExpenses/AutoCompleteExpense/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (!data.length) {
                            var result = [
                             {
                                 label: 'No matches found',
                                 value: response.term
                             }
                            ];
                            response(result);
                        }
                        else {
                            // normal response
                            response($.map(data, function (item) {
                                return {

                                    label: item.strExpenseName,
                                    value: item.strExpenseName,
                                    iExpenseID: item.iExpenseID
                                }
                            }));
                        }
                    }


                });
            },
            select: function (event, i) {

                event.preventDefault();

                $("#txtSearchExpense").val(i.item.value);
                //$("#txtSearchSupplier").val(i.item.strLastName);
                //$("#txtSearchSupplier").val(i.item.strEmailID);

                $("#hfExpense").val(i.item.iExpenseID);


                //var addVehicleID = false;
                //$.map(arrExpenseID, function (elementOfArray, indexInArray) {
                //    if (elementOfArray.ExpenseID == i.item.iExpenseID) {

                //        addVehicleID = true;
                //    }
                //})
                //if (!addVehicleID) {
                //    arrExpenseID.push({ ExpenseID: i.item.iExpenseID })
                //}


                //alert(i.item.iExpenseID);
                //var id = i.item.value;

                //$('#btnAdd').attr('onClick', 'AddTextBox(' + id + ')');

                return false;
            },
            minLength: 1
        });
    });
</script>


<script type="text/javascript">



    $(function () {


        $("#btnAdd").bind("click", function () {
            debugger

            if (document.getElementById('txtSearchExpense').value == "" || document.getElementById('txtSearchExpense').value == "No matches found") {

                $('#txtSearchExpense').css('border-color', 'red');
            }
            else {
                $('#txtSearchExpense').css('border-color', '');
                var id = $("#hfExpense").val();
                var value = $("#txtSearchExpense").val();


                var addVehicleID = false;
                $.map(arrExpenseID, function (elementOfArray, indexInArray) {
                    if (elementOfArray.ExpenseID == id) {

                        addVehicleID = true;
                    }
                })
                if (!addVehicleID) {
                    arrExpenseID.push({ ExpenseID: id })


                    $('#TextBoxContainer').append("<div  class='row' name='divForExpense'>"

                        + "<div class='form-group col-sm-2'>"
                        + "<label style='display:none'  id='lblExpenseID" + counter + "'>" + id + "</label>"
                        + "<label  class='form-control input-group-sm'  style='background-color:orange' id='lblExpense" + counter + "'>" + value + ":</label></div>"
                         + "<div class='form-group col-sm-2'>"
                        + "<input  type='number' class='txtAmountClass form-control input-group-sm'  style='margin-left: -20px;' name='DynamicTextBox' min='1' max='5' placeholder='Enter Amount' id='txtAmount"
                        + counter + "' /></div>"
                         + "<div class='form-group col-sm-2'>"
                        + "<input type='button' value='Remove' style='margin-left: -35px;'   onclick='myFunction(" + id + ")' class='remove btn btn-success' id='btnRemove"
                        + counter + "' /></div></div>");


                    counter++;

                    $("#totalExpense").show();
                    $('#txtSearchExpense').val("");
                }

                //$('#TextBoxContainer').append("<div>" + "<label style='display:none'  id='lblExpenseID" + counter + "'>" + id + "</label>" + "<label  id='lblExpense" + counter + "'>" + value + "</label>" + "<input  type='number' name='DynamicTextBox' min='1' max='5' placeholder='Enter Amount' id='txtAmount" + counter + "' />" + "<input type='button' value='Remove' class='remove' id='btnRemove" + counter + "' />'</div>");


                //counter++;

                //$("#totalExpense").show();
                //$('#txtSearchExpense').val("");

            }





        });

        //Adding total Amount To Textbox


        //$(function () {
        //    $("#btnAddTotalSum").click(function () {
        //        calculateSum();

        //        //debugger;
        //        //ALLExpense();


        //        //SaveALLExpense(favorite);


        //    });
        //});


        $("#btnSaveAllVehiclesExpense").click(function () {
            debugger
           
           


            $(function () {
                if ($(this).attr("rel") != "update") {
                    $('#dialog').dialog('open');
                    return false;
                }
            });
            
                $("#dialog").dialog({
                    modal: true,
                    autoOpen: false,
                    title: "Confirmation",
                    width: 350,
                    height: 160,
                    buttons: [
                {
                    id: "Yes",
                    text: "Yes",
                    click: function () {

                        //calling function here for update
                        for (var i = 1; i < counter; i++) {
                            var ExpenseID = $("#lblExpenseID" + i).html();
                            //var ExpenseName = $("#lblExpense" + i).html();
                            var ExpenseAmount = $("#txtAmount" + i).val();
                            var ExpenseTotalAmount = parseInt($("#totalSum").html());
                            var iVehicleExpenseID = $("#iVehicleExpenseID" + i).html();
                            var expenseAmount =
                                  {
                                      //iExpenseID: $("#hfExpense").val(),

                                      iPurchaseInvoiceID: $("#invno").val(),
                                      strExpenseDate: $("#txtAllExpDate").val(),
                                      iExpenseID: ExpenseID,
                                      //iCategoryID: 2,
                                      iVehicleExpenseID: iVehicleExpenseID,
                                      iExpenseAmount: ExpenseAmount,
                                      iTotalExpenseAmounrt: ExpenseTotalAmount

                                  }

                            if (ExpenseAmount != 0 && ExpenseAmount != null) {
                                favorite.push(expenseAmount);
                            }


                        }
                        SaveALLExpense(favorite);
                        $(this).dialog('close');
                    }

                },
                {
                    id: "No",
                    text: "No",
                    click: function () {
                        $(this).dialog('close');
                    }
                }
                    ]
                });

        });


        //$("body").on("click", ".remove", function () {
        //    debugger;

            
        //    //arrExpenseID.splice($.inArray(, arrExpenseID), 1);

        //    arrExpenseID.pop($(this).closest("div[name='divForExpense']").remove());



        //    calculateSum();

        //});
    });

    //var ExpenseTotalAmount = 0;
    //var arrTextBoxAmount = new Array();
    //function AmountTextBox() {
    //    ExpenseTotalAmount = 0;
    //    arrTextBoxAmount = new Array();

    //    $.each($("input[name='DynamicTextBox']"), function () {

    //        arrTextBoxAmount.push($(this).val());

    //    })


    //    for (var i = 0; i < arrTextBoxAmount.length; i++) {

    //        var test = $.isNumeric(arrTextBoxAmount[i])
    //        if (test == false) {
    //            return false;
    //        }

    //        ExpenseTotalAmount += parseFloat(arrTextBoxAmount[i])

    //        //ExpenseTotalAmount += Number($("#txtAmount" + i).val());
    //    }
    //    //alert(ExpenseTotalAmount);
    //    $("#totalSum").val(ExpenseTotalAmount);

    //}


    //ConfirmDialog('Are you sure');

    //function myFunction(id) {
    //    $('<div></div>').appendTo('body')
    //                    .html('<div><h6>Are you sure to remove this expense ?</h6></div>')
    //                    .dialog({
    //                        modal: true, zIndex: 10000, autoOpen: true,
    //                        width: 'auto', resizable: false,
    //                        buttons: {
    //                            Yes: function () {
    //                                $("body").on("click", ".remove", function () {
    //                                    $(this).closest("div[name='divForExpense']").remove();
    //                                    calculateSum();
    //                                });
    //                                arrExpenseID.splice($.inArray(id, arrExpenseID), 1);
    //                                var test = $("#invno").val();
    //                                alert(id); alert(test);

    //                                $(this).dialog("close");
    //                            },
    //                            No: function () {
                                   
    //                                $(this).dialog("close");
    //                            }
    //                        },
    //                        close: function (event, ui) {
    //                            $(this).remove();
    //                        }
    //                    });
    //};


    function myFunction(id) {
        debugger
        $("body").on("click", ".remove", function () {
            $(this).closest("div[name='divForExpense']").remove();
            calculateSum();
        });
        arrExpenseID.splice($.inArray(id, arrExpenseID), 1);        
        
    }






    function SaveALLExpense(arr) {
        debugger;

        var invoiceID = $("#invno").val();

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: "/MExpenses/SaveVehicleExpense",
            data: JSON.stringify({ 'expense': arr, id: invoiceID }),
            success: function (data) {
                alert("Succsesfully Update All Vehicle Expense.");
                window.location.href = "/MExpenses/AllVehicleExpensesList";
            }
        });

    }

    function RemoveALLExpense(Removedata) {

        $.ajax({
            type: "POST",
            url: "/MExpenses/Delete",
            data: { expense: Removedata },
            success: function (data) { alert("SUCCESS"); }
        });
    }
    function ALLExpense() {
        debugger;
        for (var i = 1; i < counter; i++) {
            var ExpenseID = $("#lblExpenseID" + i).html();
            //var ExpenseName = $("#lblExpense" + i).html();
            var ExpenseAmount = $("#txtAmount" + i).val();
            var ExpenseTotalAmount = $("#totalSum").html();
            var expenseAmount =
                  {
                      //iExpenseID: $("#hfExpense").val(),

                      iPurchaseInvoiceID: $("#invno").val(),
                      iExpenseID: ExpenseID,
                      //iCategoryID: 2,
                      //iSubCategoryID: 1,
                      iExpenseAmount: ExpenseAmount,
                      iTotalExpenseAmounrt: ExpenseTotalAmount

                  }

            favorite.push(expenseAmount);
            //If you to save all data in one by one then Save function here
            //Save(textValue);
        }
    }






</script>

<script>






    //jQuery(document).ready(function () {
    //    //iterate through each textboxes and add keyup
    //    //handler to trigger sum event
    //    jQuery("input[name='DynamicTextBox']").each(function () {
    //        alert("hi");
    //        debugger;
    //        jQuery(this).keyup(function () {
    //            calculateSum()
    //        });
    //    });

    //});


    $(document).on('keyup', 'input[name="DynamicTextBox"]', function () {

        calculateSum();
    });


    function calculateSum() {
        debugger;

        var sum = 0;
        //iterate through each textboxes and add the values
        $("input[name='DynamicTextBox']").each(function () {

            //add only if the value is number
            if (!isNaN(this.value) && this.value.length != 0) {
                sum += parseFloat(this.value);
            }

        });
        //.toFixed() method will roundoff the final sum to 2 decimal places
        $("#totalSum").html(sum.toFixed(2));

    }


</script>
<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(); //Initialise any date pickers
        //$('input[type=datetime]').datepicker();
    });

</script>








<!-- JqGrid Scripts -->
<link href="~/scripts/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<link href="~/scripts/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-migrate-1.2.1-min.js"></script>
<script src="~/scripts/jQuery-migrate-1.2.1.js"></script>
<script src="~/scripts/grid.locale-en.js"></script>
<script src="~/scripts/jquery.jqgrid.min.js"></script>