@*@model AuctionInventory.Models.Purchase*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="boxbody" style="width:90%; margin:0px auto" class="tablecontainer">
    <div class="box-body">
        <div id="divDetails" class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Purchase Inv No: </label>
                    @*<label>Purchase Inv No:PUR-@(@DateTime.Now.Year % 100)-<span id="invno"></span></label>*@
                    <input type="text" id="invno" class="form-control" />
                    @*@Html.TextBoxFor(a => a.iPurchaseInvoiceNo, new { @class = "form-control", @id = "invno" })>*@
                    <input type="button" value="ADD" id="JQGridFill" />
                </div>

            </div>

            <div class="row">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

                <table id="dataGrid" class="table table-bordered table-striped"></table>
                <div id="pagingGrid"></div>

            </div>

            <div>


            </div>

        </div>
    </div>
</div>



<script type="text/javascript">
    $("#JQGridFill").click(function () {

        var request = $('#invno').val();

        $.ajax({

            url: "/MExpenses/VehiclesByInvoiceID",
            data: JSON.stringify({ request: request }),
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                var listPurchase = result.listPurchase
                bindGrid(listPurchase);
            }
        });

        function bindGrid(listPurchase) {

            $('#dataGrid').jqGrid({
                caption: "Expenses For All Vehicles",
                data: listPurchase,
                datatype: "local",
                // colNames: ['Action', 'Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY', 'Assessed Value', 'AED'],
                colNames: ['Invoice No', 'Invoice Date', 'No Of units', 'Master Dec No', 'BL NO', 'Action'],
                colModel: [
                    { name: 'iPurchaseInvoiceNo', index: 'iPurchaseInvoiceNo' },
                    { name: 'strPurchaseInvoiceDate', index: 'strPurchaseInvoiceDate' },
                    { name: 'NoOfUnits', index: 'NoOfUnits' },
                    { name: 'strMasterDecNo', index: 'strMasterDecNo' },
                    { name: 'strBLNo', index: 'strBLNo' },

                   {
                       name: 'Action', index: 'Action', align: 'center', width: 200, search: false, title: false,
                       formatter: function (cellvalue, options, rowObject) {
                           return '<a class="popup btn btn-info" href="/MVehicle/Save/' + options.rowId + '">' + "Edit" + '</a>' + "     " + '<a class="popup btn btn-info" href="/MVehicle/Delete/' + options.rowId + '">' + "Delete" + '</a>';

                       }
                   },

                ],
                width: 850,
                height: 'auto',
                rowNum: 10,
                // loadonce: true,
                rowList: [10, 20, 30],
                pager: 'pagingGrid',
                // editurl: '/MVehicle/Save/',


            });
            jQuery("#dataGrid").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
            jQuery("#dataGrid").jqGrid('navGrid', '#pagingGrid', { edit: false, add: false, del: false, search: false, rel: false });

        }
    });

</script>

@*<script>
        var current = 1;
        function addNumber() {
            console.log('running addNumber')
            //current keeps track of how many numbers we have.
            current++;
            var thePhoneBox = ('<p> <label for="number ' + current + '>number' + current + ':</label> <%= Html.TextBox("number' + current + '") %>\n <%= Html.ValidationMessage("number ' + current + '", "*") %>\n </p>')
           console.log(thePhoneBox)
         $('#phoneNumbers').append(thePhoneBox)
        }

        $(document).ready(function() {
            $('#addNumber').click(addNumber)
        });
    </script>*@

<!-- JqGrid Scripts -->
<link href="~/scripts/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<link href="~/scripts/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-migrate-1.2.1-min.js"></script>
<script src="~/scripts/jQuery-migrate-1.2.1.js"></script>
<script src="~/scripts/grid.locale-en.js"></script>
<script src="~/scripts/jquery.jqgrid.min.js"></script>