@*@model AuctionInventory.Models.Purchase*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="boxbody" style="width:90%; margin:0px auto" class="tablecontainer">
    <div class="box-body">
        <div id="divDetails" class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Purchase Inv No: </label>
                    @*<label>Purchase Inv No:PUR-@(@DateTime.Now.Year % 100)-<span id="invno"></span></label>*@
                    <input type="text" id="invno" class="form-control" />
                    @*@Html.TextBoxFor(a => a.iPurchaseInvoiceNo, new { @class = "form-control", @id = "invno" })>*@
                    <input type="button" value="ADD" id="JQGridFill" />
                </div>

            </div>

            <div class="row">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

                <table id="dataGrid" class="table table-bordered table-striped"></table>
                <div id="pagingGrid"></div>
                <br />
                <br />
            </div>

            <div id="AddExpenseDynamic" style="display:none">
                <input type="hidden" id="hfExpense" />
                <input type="text" id="txtSearchExpense" name="name" placeholder="search Expenses" />
                <input id="btnAdd" type="button" value="add" />
                <br />
                <br />
                <div id="TextBoxContainer">
                    <!--Textboxes will be added here -->
                </div>
                <br />
                
                <div id="totalExpense" style="display:none">
                    <label>Total Amount :</label><input type="text" readonly />
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $("#txtSearchExpense").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/MExpenses/AutoCompleteExpense/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        //if (!data.length) {
                        //    var result = [
                        //     {
                        //         label: 'No matches found',
                        //         value: response.term
                        //     }
                        //    ];
                        //    response(result);
                        //}
                        //else
                        {
                            // normal response
                            response($.map(data, function (item) {
                                return {

                                    label: item.strExpenseName,
                                    value: item.strExpenseName
                                }
                            }));
                        }
                    }


                });
            },
            select: function (event, i) {
             
                event.preventDefault();

                $("#txtSearchExpense").val(i.item.value);
                //$("#txtSearchSupplier").val(i.item.strLastName);
                //$("#txtSearchSupplier").val(i.item.strEmailID);
                $("#hfExpense").val(i.item.iExpenseID);
                

                //var id = i.item.value;

                //$('#btnAdd').attr('onClick', 'AddTextBox(' + id + ')');

                return false;
            },
            minLength: 1
        });
    });
</script>

<script type="text/javascript">
    $("#JQGridFill").click(function () {

        var request = $('#invno').val();

        $.ajax({

            url: "/MExpenses/VehiclesByInvoiceID",
            data: JSON.stringify({ request: request }),
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                var listPurchase = result.listPurchase
                bindGrid(listPurchase);
                $('#AddExpenseDynamic').show();
            }
        });

        function bindGrid(listPurchase) {

            $('#dataGrid').jqGrid({
                caption: "Expenses For All Vehicles",
                data: listPurchase,
                datatype: "local",
                // colNames: ['Action', 'Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY', 'Assessed Value', 'AED'],
                colNames: ['Invoice No', 'Invoice Date', 'No Of units', 'Master Dec No', 'BL NO', 'Action'],
                colModel: [
                    { name: 'iPurchaseInvoiceNo', index: 'iPurchaseInvoiceNo' },
                    { name: 'strPurchaseInvoiceDate', index: 'strPurchaseInvoiceDate' },
                    { name: 'NoOfUnits', index: 'NoOfUnits' },
                    { name: 'strMasterDecNo', index: 'strMasterDecNo' },
                    { name: 'strBLNo', index: 'strBLNo' },

                   {
                       name: 'Action', index: 'Action', align: 'center', width: 200, search: false, title: false,
                       formatter: function (cellvalue, options, rowObject) {
                           return '<a class="popup btn btn-info" href="/MVehicle/Save/' + options.rowId + '">' + "Edit" + '</a>' + "     " + '<a class="popup btn btn-info" href="/MVehicle/Delete/' + options.rowId + '">' + "Delete" + '</a>';

                       }
                   },

                ],
                width: 850,
                height: 'auto',
                rowNum: 10,
                // loadonce: true,
                rowList: [10, 20, 30],
                pager: 'pagingGrid',
                // editurl: '/MVehicle/Save/',


            });
            jQuery("#dataGrid").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
            jQuery("#dataGrid").jqGrid('navGrid', '#pagingGrid', { edit: false, add: false, del: false, search: false, rel: false });

        }
    });

</script>


<script type="text/javascript">
    $(function () {

        
        $("#btnAdd").bind("click", function () {         
           

            if (document.getElementById('txtSearchExpense').value == "") {
               
                $('#txtSearchExpense').css('border-color', 'red');
            }
            else
            {
                $('#txtSearchExpense').css('border-color', '');
                var value = $("#txtSearchExpense").val();
                //var id = $("#hfExpense").val();
                var div = $("<div />");
                div.html(GetDynamicTextBox(value));
                $("#TextBoxContainer").append(div);

                $("#txtSearchExpense").val("");
                $("#hfExpense").val("");
            }
              
           
        });
        $("body").on("click", ".remove", function () {
            $(this).closest("div").remove();
        });
    });

    //function AddTextBox(id) {        
    //    // alert("helo");
    //    debugger;
    //    var div = $("<div />");
    //    div.html(GetDynamicTextBox(id));
    //    $("#TextBoxContainer").append(div);
    //    $("body").on("click", ".remove", function () {
    //        $(this).closest("div").remove();
    //    });
    //}

    function GetDynamicTextBox(value) {
        return ' <label>' + value + '</label>:<input type="number" name="DynamicTextBox" min="1" max="5" placeholder="Enter Amount">&nbsp;' +
                '<input type="button" value="Remove" class="remove" />'
    }

</script>





@*<script>
        var current = 1;
        function addNumber() {
            console.log('running addNumber')
            //current keeps track of how many numbers we have.
            current++;
            var thePhoneBox = ('<p> <label for="number ' + current + '>number' + current + ':</label> <%= Html.TextBox("number' + current + '") %>\n <%= Html.ValidationMessage("number ' + current + '", "*") %>\n </p>')
           console.log(thePhoneBox)
         $('#phoneNumbers').append(thePhoneBox)
        }

        $(document).ready(function() {
            $('#addNumber').click(addNumber)
        });
    </script>*@

<!-- JqGrid Scripts -->
<link href="~/scripts/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<link href="~/scripts/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-migrate-1.2.1-min.js"></script>
<script src="~/scripts/jQuery-migrate-1.2.1.js"></script>
<script src="~/scripts/grid.locale-en.js"></script>
<script src="~/scripts/jquery.jqgrid.min.js"></script>