@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="boxbody" style="width:90%; margin:0px auto" class="tablecontainer">
    <div class="box-body">
        <div id="divDetails" class="row">


            <div class='row'>


                @*<div class='form-group col-sm-2'>


                <label class='form-control input-group-sm' id='lblExpense'></label>
            </div>*@
                <div class='form-group col-sm-3'>
                    <input type="hidden" id="hfVehicle" />
                    <input type='text' id="txtSearchVehicle" class='form-control input-group-sm' style='margin-left: -20px;' placeholder='Search Vehicle By Chasis Number' />
                </div>

                @*<div class='form-group col-sm-2'>
                    <input type='button' value='Search' style='margin-left: -35px;' class='btn btn-success' id='JQGridFill' />
                </div>*@

                <div class='form-group col-sm-2' style="margin-top: -24px;margin-left: 125px;">
                    <label>Date:</label>
                    <input class='form-control datepicker input-group-sm' name='SingleExpDate' placeholder='Enter drop of date...' id='txtSingleExpDate' />
                </div>

            </div>

            @*<div class="col-sm-6">
                <div class="form-group">
                    <label>Search By Vehicle: </label>

                    <input type="text" id="txtSearchVehicle" class="form-control" placeholder="Search Vehicle By Chasis Number" />
                    <input type="hidden" id="hfVehicle" />
                    <input type="button" value="Search" id="JQGridFill" />
                </div>

            </div>*@

            <div class="row">
                <br />
                
                <table id="dataGrid" class="table table-bordered table-striped"></table>
                <div id="pagingGrid"></div>
                <br />
               
            </div>

            <div id="AddExpenseDynamic" style="display:none">

                <div class='row form-group col-sm-4'>
                    <input type="hidden" id="hfExpense" />
                    <input type="text" class='form-control input-group-sm' id="txtSearchExpense" name="name" placeholder="search Expenses" />
                </div>

                <input id="btnAdd" class='btn btn-success' style="margin-left: 25px;" type="button" value="ADD Expenses" />

                <br />
                <br />

                <div id="TextBoxContainer">
                    <!--Textboxes will be added here -->
                </div>
                <br />

                <div id="totalExpense" style="display:none">
                    <br />

                    <div>


                        <label style='background-color:orange'>Total Sum :<span id="totalSum">0</span></label>
                        <br />


                    </div>


                    @*<input type="button" value="ADD All Expenses" class="btn btn-success" id="btnAddTotalSum" />
                    <br />
                    <br />
                    <label>Total Expense Amount :</label><input type="text" id="totalSum" readonly />*@
                    <br />

                    <div class='row'>


                        <div class='form-group col-sm-2'>


                <label class='form-control input-group-sm' style="background-color: #ff9900">Remarks :</label>
            </div>
                        <div class='form-group col-sm-3'>
                            <textarea class='form-control input-group-sm' id="txtAreaRemarks"></textarea> </div>

                    </div>


                    @*<label>Remarks :</label><textarea id="txtAreaRemarks"></textarea>*@
                    @*<br />
                    
                    <div style="margin-left: 222px;">
                        <input type="button" value="Save" class="btn btn-success col-md-2" id="btnSave" />
                        <input type="button" style="margin-left: 30px;" value="Update" class="btn btn-success col-md-2" id="btnUpdate" />
                        <input type="button" style="margin-left: 35px;" value="Print" class="btn btn-success col-md-2" id="btnPrint" />
                    </div>*@

                   

                    
                </div>
            </div>
            <div>
                <br />
                <div id="dialog" style="display: none" align="center">
                    Do you want to Save this Expenses?
                </div>
                <input type="button" style="margin-left: 175px;" class="btn btn-success col-md-2" id="btnSave" value="Save">

                <input type="button" style="margin-left: 35px;" value="Print" class="btn btn-success col-md-2" id="btnPrint" />


                <input type="button" style="margin-left: 40px" class="btn btn-warning col-md-2" value="Cancel" onclick="CancelVehiclesExpenseInfo();" id="cancelVehiclesExpenseInfo">
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">


    function CancelVehiclesExpenseInfo() {
        window.location.href = "/MExpenses/SingleVehicleExpensesList";
    }

    $(function () {
        $("#txtSearchVehicle").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/MExpenses/AutoCompleteVehicles/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        //if (!data.length) {
                        //    var result = [
                        //     {
                        //         label: 'No matches found',
                        //         value: response.term
                        //     }
                        //    ];
                        //    response(result);
                        //}
                        //else
                        {
                            // normal response
                            response($.map(data, function (item) {
                                return {
                                    iVehicleID: item.iVehicleID,
                                    label: item.strChassisNum,
                                    value: item.strChassisNum
                                }
                            }));
                        }
                    }


                });
            },
            select: function (event, i) {

                event.preventDefault();
                debugger

                $("#txtSearchVehicle").val(i.item.value);
                //$("#txtSearchSupplier").val(i.item.strLastName);
                //$("#txtSearchSupplier").val(i.item.strEmailID);

                $("#hfVehicle").val(i.item.iVehicleID);
                var vehicleID = i.item.iVehicleID;

                $.ajax({

                    url: "/MExpenses/VehiclesByVehicleID",
                    data: JSON.stringify({ request: vehicleID }),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        var VehiclesList = result.VehiclesList
                        bindGrid(VehiclesList);
                        $('#AddExpenseDynamic').show();
                    }
                });

                return false;
            },
            minLength: 1
        });
    });


    function bindGrid(VehiclesList) {

        $('#dataGrid').jqGrid({
            caption: "Apply Expenses on Vehicles",
            data: VehiclesList,
            datatype: "local",
            // colNames: ['Action', 'Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY', 'Assessed Value', 'AED'],
            colNames: ['LotNum', 'ChassisNum', 'Model', 'Year', 'Color', 'JPY'],
            colModel: [
                { name: 'iLotNum', index: 'iLotNum' },
                { name: 'strChassisNum', index: 'strChassisNum' },
                { name: 'iModel', index: 'iModel' },
                { name: 'iYear', index: 'iYear' },
                { name: 'strColor', index: 'strColor' },
                 { name: 'iCustomValInJPY', index: 'iCustomValInJPY' },

                 
            ],
            width: 850,
            height: 80,
            rowNum: 10,
            // loadonce: true,
            rowList: [10, 20, 30],
            pager: 'pagingGrid',
            // editurl: '/MVehicle/Save/',
        });
        jQuery("#dataGrid").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
        jQuery("#dataGrid").jqGrid('navGrid', '#pagingGrid', { edit: false, add: false, del: false, search: false, rel: false });

    }


</script>

<script>
    var counter = 1;
    var arrExpenseID = new Array();
    var favorite = [];
    $(function () {
        $("#txtSearchExpense").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/MExpenses/AutoCompleteExpense/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (!data.length) {
                            var result = [
                             {
                                 label: 'No matches found',
                                 value: response.term
                             }
                            ];
                            response(result);
                        }
                        else
                        {
                            // normal response
                            response($.map(data, function (item) {
                                return {
                                    label: item.strExpenseName,
                                    value: item.strExpenseName,
                                    iExpenseID: item.iExpenseID
                                }
                            }));
                        }
                    }


                });
            },
            select: function (event, i) {

                event.preventDefault();
                debugger

                $("#txtSearchExpense").val(i.item.value);
                //$("#txtSearchSupplier").val(i.item.strLastName);
                //$("#txtSearchSupplier").val(i.item.strEmailID);
                $("#hfExpense").val(i.item.iExpenseID);



                return false;
            },
            minLength: 1
        });
    });



   

    $(function () {

        $("#btnAdd").bind("click", function () {
            if (document.getElementById('txtSearchExpense').value == "" || document.getElementById('txtSearchExpense').value == "No matches found") {
            

                $('#txtSearchExpense').css('border-color', 'red');
            }
            else {
                $('#txtSearchExpense').css('border-color', '');
                var id = $("#hfExpense").val();
                var value = $("#txtSearchExpense").val();

                var addVehicleID = false;
                $.map(arrExpenseID, function (elementOfArray, indexInArray) {
                    if (elementOfArray.ExpenseID == id) {

                        addVehicleID = true;
                    }
                })
                if (!addVehicleID) {
                    arrExpenseID.push({ ExpenseID: id })
                    //$('#TextBoxContainer').append("<div>" + "<label style='display:none'  id='lblExpenseID" + counter + "'>" + id + "</label>" + "<label  id='lblExpense" + counter + "'>" + value + "</label>" + "<input  type='number' name='DynamicTextBox' min='1' max='5' placeholder='Enter Amount' id='txtAmount" + counter + "' />" + "<input type='button' value='Remove' class='remove' id='btnRemove" + counter + "' />'</div>");



                    $('#TextBoxContainer').append("<div  class='row' name='divForExpense'>"

                + "<div class='form-group col-sm-2'>"
                + "<label style='display:none'  id='lblExpenseID" + counter + "'>" + id + "</label>"
                + "<label  class='form-control input-group-sm'  style='background-color:orange' id='lblExpense" + counter + "'>" + value + ":</label></div>"
                 + "<div class='form-group col-sm-2'>"
                + "<input  type='number' class='txtAmountClass form-control input-group-sm'  style='margin-left: -20px;' name='DynamicTextBox' min='1' max='5' placeholder='Enter Amount' id='txtAmount"
                + counter + "' /></div>"
                 + "<div class='form-group col-sm-2'>"
                + "<input type='button' value='Remove' style='margin-left: -35px;'   onclick='myFunction(" + id + ")' class='remove btn btn-success' id='btnRemove"
                + counter + "' /></div></div>");



                    counter++;

                    $("#totalExpense").show();
                    $('#txtSearchExpense').val("");
                }


               //// $('#TextBoxContainer').append("<div>" + "<label  id='lblExpense" + counter + "'>" + value + "</label>" + "<input  type='number' name='DynamicTextBox' min='1' max='5' placeholder='Enter Amount' id='txtAmount" + counter + "' />" + "<input type='button' value='Remove' class='remove' id='btnRemove" + counter + "' />'</div>");
               // $('#TextBoxContainer').append("<div>" + "<label style='display:none'  id='lblExpenseID" + counter + "'>" + id + "</label>" + "<label  id='lblExpense" + counter + "'>" + value + "</label>" + "<input  type='number' name='DynamicTextBox' min='1' max='5' placeholder='Enter Amount' id='txtAmount" + counter + "' />" + "<input type='button' value='Remove' class='remove' id='btnRemove" + counter + "' />'</div>");
               // counter++;

               // $("#totalExpense").show();
               // $('#txtSearchExpense').val("");
            }


        });


        ////Add Total
        //$("#btnAddTotalSum").click(function () {
        //    AmountTextBox();


        //});

        $("#btnSave").click(function () {

            debugger;
            //ALLExpense();
            $(function () {
                if ($(this).attr("rel") != "update") {
                    $('#dialog').dialog('open');
                    return false;
                }
            });

            $("#dialog").dialog({
                modal: true,
                autoOpen: false,
                title: "Confirmation",
                width: 350,
                height: 160,
                buttons: [
            {
                id: "Yes",
                text: "Yes",
                click: function () {

                    //calling function here for update
                    for (var i = 1; i < counter; i++) {

                        var ExpenseID = $("#lblExpenseID" + i).html();
                        //var ExpenseName = $("#lblExpense" + i).html();
                        var ExpenseAmount = $("#txtAmount" + i).val();

                        var ExpenseTotalAmount = parseInt($("#totalSum").html());
                        var expenseAmount =
                              {
                                  iVehicleID: $("#hfVehicle").val(),
                                  strExpenseDate: $("#txtSingleExpDate").val(),
                                  iExpenseID: ExpenseID,
                                  dcmlExpenseAmount: ExpenseAmount,
                                  dcmlTotalExpenseAmount: ExpenseTotalAmount,
                                  strRemarks: $("#txtAreaRemarks").val(),
                                  iVehicleExpenseTypeID: 2
                              }


                        favorite.push(expenseAmount);
                        //If you to save all data in one by one then Save function here
                        //Save(textValue);
                    }
                    SaveALLExpense(favorite);

                    $(this).dialog('close');
                }

            },
            {
                id: "No",
                text: "No",
                click: function () {
                    $(this).dialog('close');
                }
            }
                ]
            });


           
           
               
        });

        ////Remove From Total
        //$("body").on("click", ".remove", function () {
        //    debugger;

        //    arrExpenseID.pop($(this).closest("div[name='divForExpense']").remove());

        //    //ExpenseTotalAmount = 0;
        //    //counter = counter - 1;

        //    //AmountTextBox();

        //    //ALLExpense();

        //    calculateSum();

        //});

       

    });

    function myFunction(id) {
       
        $("body").on("click", ".remove", function () {
            $(this).closest("div[name='divForExpense']").remove();

            calculateSum();
        });
        //arrExpenseID.splice(id, 1);

        arrExpenseID.splice($.inArray(id, arrExpenseID), 1);


    }

    //var ExpenseTotalAmount = 0;
    //function AmountTextBox() {
    //    debugger;
    //    for (var i = 1; i < counter; i++) {

    //        ExpenseTotalAmount += Number($("#txtAmount" + i).val());
    //    }
    //    //alert(ExpenseTotalAmount);
    //    $("#totalSum").val(ExpenseTotalAmount);

    //}

    function SaveALLExpense(dataTosave) {
        debugger;
        var vehicleID = parseInt(0);
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: "/MExpenses/SaveVehicleExpense",
            data: JSON.stringify({ 'expense': dataTosave, 'id': vehicleID }),
            //data: JSON.stringify({ 'expense': dataTosave }),
            success: function (data) {
                alert("Succsesfully Saved Single Vehicle Expense.");

                window.location.href = "/MExpenses/SingleVehicleExpensesList";
            }
        });
    }

    
    //function ALLExpense() {
    //    debugger;
    //    for (var i = 1; i < counter; i++) {


    //        var ExpenseName = $("#lblExpense" + i).html();
    //        var ExpenseAmount = $("#txtAmount" + i).val();
    //        var ExpenseTotalAmount = $("#totalSum").val();
            
    //        var expenseAmount =
    //              {
    //                  iVehicleID :$("#hfVehicle").val(),
    //                  strExpenseName :ExpenseName,
    //                  iExpenseAmount :ExpenseAmount,
    //                  iTotalExpenseAmounrt:ExpenseTotalAmount,
    //                  strRemarks: $("#txtAreaRemarks").val()
    //              }
    //        return expenseAmount;
    //       // SaveALLExpense(expenseAmount);
    //        //favorite.push(expenseAmount);
    //        //If you to save all data in one by one then Save function here
    //        //Save(textValue);
    //    }
    //}

</script>
<script>

    $(document).on('keyup', 'input[name="DynamicTextBox"]', function () {

        calculateSum();
    });


    function calculateSum() {
        debugger;

        var sum = 0;
        //iterate through each textboxes and add the values
        $("input[name='DynamicTextBox']").each(function () {

            //add only if the value is number
            if (!isNaN(this.value) && this.value.length != 0) {
                sum += parseFloat(this.value);
            }

        });
        //.toFixed() method will roundoff the final sum to 2 decimal places
        $("#totalSum").html(sum.toFixed(2));

    }

</script>
<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker({ dateFormat: 'dd/mm/yy' }); //Initialise any date pickers
        //$('input[type=datetime]').datepicker();
    });

</script>
<!-- JqGrid Scripts -->
<link href="~/scripts/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<link href="~/scripts/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-migrate-1.2.1-min.js"></script>
<script src="~/scripts/jQuery-migrate-1.2.1.js"></script>
<script src="~/scripts/grid.locale-en.js"></script>
<script src="~/scripts/jquery.jqgrid.min.js"></script>

