@model AuctionInventory.Models.Category
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    .error {
        color: red;
    }
</style>

@using (Html.BeginForm("Save", "MCategory", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.ValidationSummary(true)
    if (Model != null && Model.iCategoryID > 0)
    {
        @Html.HiddenFor(a => a.iCategoryID)
    }
    <div class="form-group col-xs-5">
        <label>Category Name</label>
        @Html.TextBoxFor(a => a.strCategoryName, new { @class = "form-control  input-group-lg", @placeholder = "Enter Category Name" })
        @Html.ValidationMessageFor(m => m.strCategoryName, "", new { @class = "error" })

    </div>

    <div>
        @if (Model != null && Model.iCategoryID > 0 && Model.iCategoryID != null)
        {
            <input type="submit" style="margin-left: -350px; margin-top: 100px;" class="btn btn-warning col-md-1" value="Update">
        }
        else
        {
            <input type="submit" style="margin-left: -350px; margin-top: 100px;" class="btn btn-success col-md-1" value="Save">
        }

        @*<input type="submit" value="Save" />*@

        <input type="button" style="margin-left: -210px;margin-top: 100px;" class="btn btn-warning col-md-1" value="Cancel" onclick="CancelCategoryInfo();" />

    </div>
}
<script>
    function CancelCategoryInfo() {
        window.location.href = "/MCategory/Index";
    }

</script>

