@*@model AuctionInventory.Models.Vehicles*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>AuctionList</h3>


<div class="col-sm-6">
    <div class="form-group">
        
        <input class="form-control " id="AuctionFrontEndID" type="hidden" />
    </div>
</div>

<div class="col-sm-6">
    <div class="form-group pull-right">
        <label>Auction Date:</label>
        <input class="form-control datepicker" id="auctionDate" placeholder="Enter Drop-off date here..." />
    </div>
</div>
<div class="box-body" id="divFillByVehicle">
    <br />
    <br />
    <table id="dataGrid" class="table table-bordered table-striped"></table>
    <div id="pagingGrid"></div>
</div>

<div class="box-body" id="divAddVehicle" style="display:none">
    <table id="GridAddVehicle" class="table table-bordered table-striped"></table>
    <div id="pagingGridAddVehicle"></div>
    <br />
</div>
<div id="msg">
    

</div>
<div>
    <br />
    <input type="button" style="margin-left: 400px" class="btn btn-success" id="saveAuctionList" value="Save" />
    <input type="button" style="margin-left: 40px" class="btn btn-success" value="Print" onclick="generateAuctionPDF()" />
</div>

@*<div id="divShowPrintbtn" style="display:none">
    <br />
    <input type="button" style="margin-left: 40px" class="btn btn-success" value="Print" onclick="generateAuctionPDF()" />
</div>*@

<script type="text/javascript">
    $.ajax({
        url: '/Auction/GetAuctionFrontEndID/',
        dataType: "json",
        type: "POST",
        contentType: "application/json; charset=utf-8",
        success: function (data) {

            $('#AuctionFrontEndID').val(data);
        }
    });
    //if (document.getElementById('AuctionFrontEndID').value == "") {
       
    //    $('#AuctionFrontEndID').val('1');
    //}

    //else {
    //    $.ajax({
    //        url: '/Auction/GetAuctionFrontEndID/',
    //        dataType: "json",
    //        type: "POST",
    //        contentType: "application/json; charset=utf-8",
    //        success: function (data) {

    //            $('#AuctionFrontEndID').val(data);
    //        }
    //    });
    //}
   
</script>
<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(); //Initialise any date pickers
    });
</script>

<script>

    // var arr = [];
    $(function () {

        $('#dataGrid').jqGrid({
            caption: "Auction List",
            url: '/Auction/GetData/',
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            mtype: 'GET',
            colNames: ['ID', 'Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY'],
            colModel: [
                { name: 'iVehicleID', index: 'iVehicleID', hidden: true, hidedlg: true },
                { name: 'iLotNum', index: 'iLotNum' },
                { name: 'strChassisNum', index: 'strChassisNum' },
                { name: 'iModel', index: 'iModel' },
                { name: 'iYear', index: 'iYear' },
                { name: 'strColor', index: 'strColor' },
                { name: 'iCustomValInJPY', index: 'iCustomValInJPY' },

            ],
            width: 'auto',
            rowNum: 10,
            loadonce: true,
            rowList: [10, 20, 30],
            pager: 'pagingGrid',
            caption: 'Select Vehicle to Add',

            beforeSelectRow: function (rowid, celname, value, iRow, iCol) {
                debugger;
                var rowData = jQuery("#dataGrid").getRowData(rowid);
                var rowDataVehicleID = rowData['iVehicleID'];

                // arr.push(rowDataVehicleID);
                $('#GridAddVehicle').jqGrid('addRowData', rowDataVehicleID, rowData);

                $('#divAddVehicle').show();
            }

        });
        jQuery("#dataGrid").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
        jQuery("#dataGrid").jqGrid('navGrid', '#pagingGrid', { edit: false, add: false, del: false, search: false });


        $('#GridAddVehicle').jqGrid({
            caption: "ADD Single Vehicle",
            //data: SingleVehicle,
            //datatype: "local",
            colNames: ['ID', 'Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY', 'Action'],
            colModel: [
                { name: 'iVehicleID', index: 'iVehicleID', hidden: true, hidedlg: true },
                { name: 'iLotNum', index: 'iLotNum' },
                { name: 'strChassisNum', index: 'strChassisNum' },
                { name: 'iModel', index: 'iModel' },
                { name: 'iYear', index: 'iYear' },
                { name: 'strColor', index: 'strColor' },
                { name: 'iCustomValInJPY', index: 'iCustomValInJPY' },

                {
                    name: 'Action', index: 'Action', align: 'center', width: 100, search: false, title: false,
                    formatter: function (cellvalue, options, rowObject) {
                        // return '<a href="/MAreas/Edit/' + options.rowId + '">' + "<img src='../Images/edit%20(2).png' '/>" + '</a>' + "     " + '<a href="/MAreas/Delete/' + options.rowId + '">' + "<img src='../Images/delete%20(2).png' />" + '</a>';
                        //return $('#GridAddVehicle').jqGrid('delRowData', options.rowId);
                        return "<input class='popup btn btn-info' style='margin-right: 5%; ' type='button' value='Delete' onclick=\"jQuery('#GridAddVehicle').delRowData('" + options.rowId + "');\"  />";
                    }

                },

            ],
            width: 'auto',
            //width: 1050,
            //height: 250,
            rowNum: 10,
            loadonce: false,
            rowList: [10, 20, 30],
            pager: 'pagingGridAddVehicle',
        });
        jQuery("#GridAddVehicle").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
        jQuery("#GridAddVehicle").jqGrid('navGrid', '#pagingGridAddVehicle', { edit: false, add: false, del: false, search: false, rel: false });

    });
    var parameters = [];
    $("#saveAuctionList").click(function () {
        debugger;



        var ids = jQuery("#GridAddVehicle").jqGrid('getDataIDs');

        var date = $('#auctionDate').val();
        var AuctionfrontID = $('#AuctionFrontEndID').val();
        //var gridDataVehicleID = JSON.stringify(arr);

        for (var i = 0; i < ids.length; i++) {
            //alert(arr[i]);

            parameters.push({
                iVehicleID: ids[i],
                strAuctionDate: date,
                iAuctionFrontEndID: AuctionfrontID
            });
        }



        //for (var i = 0; i < arr.length; i++) {

        //    parameters.push({
        //        iVehicleID: gridDataVehicleID,
        //        strAuctionDate: date
        //    });

        //}


        // TODO: maybe you want to assign an unique id to your table element

        //var gridDataVehicleID = JSON.stringify(arr);
        //var date = $('#auctionDate').val();
        //$(gridDataVehicleID).each(function () {

        //    parameters.push({
        //        iVehicleID: gridDataVehicleID,
        //        strAuctionDate: date
        //    });
        //});




        //var auctionList = {
        //    iVehicleID: gridDataVehicleID,
        //    strAuctionDate: date,
        //}
        debugger
        $.ajax({
            type: "POST",
            url: "/Auction/Save",
            cache: false,
            data: JSON.stringify({ auctionList: parameters }),
            // data: JSON.stringify(purchase),
            dataType: this.dataType,
            contentType: "application/json; charset=utf-8",
            success: function (Data) {
               
                //$("#divShowPrintbtn").show();
                alert("Data Saved You Can Print AuctionList");
            }


            //success: function (Data) {
            //    $('#msg').html(Data).fadeIn('slow');
            //    //$('#msg').html("data insert successfully").fadeIn('slow') //also show a success message 
            //    $('#msg').delay(5000).fadeOut('slow');
            //},


        });

    });


    function generateAuctionPDF() {

        debugger
        //var localGridData = jQuery("#GridAddVehicle").getRowData();
        //var datatosend = JSON.stringify(localGridData);//all grid rows
        //alert(localGridData);

        //var columns = ['Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY', 'Action'];

        //var data = [];
        //        for (var i = 1; i < result.length; i++) {

        //            data.push([localGridData[i].LotNum, localGridData[i].ChassisNum, localGridData[i].iModel, localGridData[i].Year, localGridData[i].color, localGridData[i].iCustomValInJPY]);

        //        }


        //var doc = new jsPDF();
        //doc.autoTable(columns, data);
        //doc.output("dataurlnewwindow");


        //for (var i = 0; i < arr.length; i++) {
        //    //alert(arr[i]);

        //    pdfArray.push({
        //        iVehicleID: arr[i],

        //    });
        //}


        //$.ajax({
        //    type: "POST",
        //    url: "/Auction/GenerateAuctionListPDF",
        //    cache: false,
        //    data: JSON.stringify({ auction: pdfArray }),
        //    // data: JSON.stringify(purchase),
        //    dataType: this.dataType,
        //    contentType: "application/json; charset=utf-8",
        //    success: function (Data) { alert("Done"); }
        //});

        var AuctionfrontID = $('#AuctionFrontEndID').val();
       
        $.ajax({
            type: "POST",
            url: "/Auction/GenerateAuctionListPDF",
            cache: false,
            data: JSON.stringify({ id: AuctionfrontID }),
            // data: JSON.stringify(purchase),
            dataType: this.dataType,
            contentType: "application/json; charset=utf-8",
            success: function (result) {

                debugger;
                var columns = ['Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY'];

                var data = [];
                for (var i = 0; i < result.length; i++) {

                    data.push([result[i].LotNum, result[i].ChassisNum, result[i].iModel, result[i].Year, result[i].color, result[i].JPY]);

                }
                var doc = new jsPDF();
                doc.autoTable(columns, data);
                doc.output("dataurlnewwindow");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve data.');
            }
        });

    }


</script>

<!-- JqGrid Scripts -->
<link href="~/scripts/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<link href="~/scripts/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-migrate-1.2.1-min.js"></script>
<script src="~/scripts/jQuery-migrate-1.2.1.js"></script>
<script src="~/scripts/grid.locale-en.js"></script>
<script src="~/scripts/jquery.jqgrid.min.js"></script>


<script src="~/Content/plugins/jsPDF/jspdf.debug.js"></script>
<script src="~/Content/plugins/jsPDF/jspdf.plugin.autotable.js"></script>